.l-page_width_page.l-page_gap-bottom_50
  = render :partial => 'layouts/logo'
  %section.clearfix.b-register
    .b-register__title-inner
      %h2.b-register__title
        Регистрация
    = form_for(resource, :as => resource_name, :url => registration_path(resource)) do |f|
      .clearfix
        .b-register__fields-inner
          .b-register__fields
            %label.b-register__label
              %span.b-register__label-text
                = f.label "Имя"
              %span.b-register__inputs-inner
                = f.text_field :first_name, :class => "b-register__input_text"
                %span.b-register__required *
              %i.b-register__error
                Необходимо ввести имя
          .b-register__fields
            %label.b-register__label
              %span.b-register__label-text
                = f.label "Фамилия"
              %span.b-register__inputs-inner
                = f.text_field :last_name, :class => "b-register__input_text"
                %span.b-register__required *
              %i.b-register__error
                Необходимо ввести фамилию
          .b-register__fields
            %label.b-register__label
              %span.b-register__label-text
                = f.label "Пароль"
              %span.b-register__inputs-inner
                = f.password_field :password, :class => "b-register__input_password"
                %span.b-register__required *
              %i.b-register__error
                Ну хоть что-нибудь введите!
          .b-register__fields
            %label.b-register__label
              %span.b-register__label-text
                = f.label "Повторите пароль"
              %span.b-register__inputs-inner
                = f.password_field :password_confirmation, :class => "b-register__input_password"
                %span.b-register__required *
        .b-register__fields-inner.b-register__fields-inner_float_right
          .b-register__fields
            %label.b-register__label
              %span.b-register__label-text
                = f.label "Эл. почта"
              %span.b-register__inputs-inner.b-register__inputs-inner_state_errors
                = f.email_field :email, :class => "b-register__input_email"
                %span.b-register__required *
          .b-register__fields
            %label.b-register__label
              %span.b-register__label-text
                = f.label "Компания"
              %span.b-register__inputs-inner
                = f.text_field :company, :class => "b-register__input_text"
          .b-register__fields
            %label.b-register__label
              %span.b-register__label-text
                = f.label "Город"
              %span.b-register__inputs-inner
                = f.text_field :city, :class => "b-register__input_text"
          .b-register__fields
            %label.b-register__label
              %span.b-register__label-text
                = f.label "Специализация"
              %span.b-register__inputs-inner
                = f.select :professional, [['Дизайн', 'Дизайн'],['Разработка', 'Разработка'], ['Управление', 'Управление']], { :include_blank => true }, :class => "b-register__select"
      %p.b-register__text.l-page_align_center
        Нажимая на кнопку «Зарегистрироваться», вы подтверждаете свое согласие с тем, что «Личные данные» будут использованы для изготовления бейджа.
      %p.l-page_align_center
        %input.b-register__input_submit{:type => "submit", :value => "Зарегистрироваться"}/
= render :partial => 'layouts/footer'
