= simple_form_for(@invoice, :url => invoice_path, :html => { :class => 'form-horizontal invoice_check_boxes' }) do |f|

  = f.association :events,
                  :collection => @events.collect{|e| [e.full_name, e.id]},
                  :as => :check_boxes, 
                  :label => 'Я оплачиваю:'


  #promocode
    = f.input :promocode, :label => "У меня есть промокод:"

  = f.input :oferta, :label => "С условиями <a href='/oferta' target='blank'>Публичной оферты</a> ознакомлен и согласен"

  #price.control-group
    %label.control-label
    .controls
      Общая стоимость
      %strong
        %span#amount 0
        руб
  .form-actions
    = f.submit 'Оплатить', :class => 'btn-primary'
