# encoding: utf-8
.l-page_width_page.l-page_gap-bottom_50
  = render :partial => 'layouts/logo'
  = form_for(@invoice, :url => invoice_path(@invoice)) do |f|
    .l-page_width_page.l-page_gap-bottom_50
      %section.clearfix.b-register
        .b-register__title-inner
          %h2.b-register__title
            Регистрация на конференцию
        .clearfix
          .b-register__fields-inner
            .b-register__fields
              %label.b-register__label
                %span.b-register__label-text
                  = f.label "Имя"
                %span.b-register__inputs-inner
                  = text_field_tag "user[first_name]", nil, :class => "b-register__input_text"
                  %span.b-register__required *
                %i.b-register__error
                  =# error_messages_for :first_name, @user
            .b-register__fields
              %label.b-register__label
                %span.b-register__label-text
                  Фамилия
                %span.b-register__inputs-inner
                  = text_field_tag "user[last_name]", nil, :class => "b-register__input_text"
                  %span.b-register__required *
                %i.b-register__error
                  =# error_messages_for :last_name, resource
            .b-register__fields
              %label.b-register__label
                %span.b-register__label-text
                  Город
                %span.b-register__inputs-inner
                  = text_field_tag "user[city]", nil, :class => "b-register__input_text"
          .b-register__fields-inner.b-register__fields-inner_float_right
            .b-register__fields
              %label.b-register__label
                %span.b-register__label-text
                  Эл. почта
                %span.b-register__inputs-inner
                  = email_field_tag "user[email]", nil, :class => "b-register__input_email"
                  %span.b-register__required *
                %i.b-register__error
                  =# error_messages_for :email, resource
            .b-register__fields
              %label.b-register__label
                %span.b-register__label-text
                  Компания
                %span.b-register__inputs-inner
                  = text_field_tag "user[company]", nil, :class => "b-register__input_text"
            .b-register__fields
              %label.b-register__label
                %span.b-register__label-text
                  Специализация
                %span.b-register__inputs-inner
                  = select_tag "user[professional]", "<option>Дизайн</option><option>Разработка</option><option>Управление</option>".html_safe, :include_blank => true, :class => "b-register__select"

    .l-page_width_page.l-page_gap-bottom_50
      %section.clearfix.b-register{:style => "margin-top:15px;border:1px solid #cc0000;"}
        .b-register__title-inner
          %h2.b-register__title
            Я хочу оплатить
        .clearfix
          .b-register__fields-inner
            .b-register__fields
              .b-register__label
                %span.b-register__label-text{:style => "vertical-align:top;width:140px;"}
                  = f.label 'Я оплачиваю:'
                %span.b-register__inputs-inner
                  - @events.each do |event|
                    .new_invoice{:style => "margin-bottom:4px;"}
                      - if event.priority == 0
                        = check_box_tag "invoice[event_ids][]", event.id, true, :disabled => true, :class => "invoice_checkbox"
                        = hidden_field_tag "invoice[event_ids][]", event.id
                      - else
                        = check_box_tag "invoice[event_ids][]", event.id, false, :class => "invoice_checkbox"
                      %span{:style => "font-size: 14px;"}= event.full_name
            .b-register__fields
              %label.b-register__label
                %span.b-register__label-text{:style => "width:140px;"}
                  = f.label "Общая стоимость:"
                %span.b-register__inputs-inner
                  %strong
                    %span#amount 0
                    руб.
          .b-register__fields-inner.b-register__fields-inner_float_right
            .b-register__fields{:style => "margin-bottom:35px;"}
              %label.b-register__label
                %span.b-register__label-text
                  = f.label "У меня есть промокод:"
                %span.b-register__inputs-inner
                  = text_field_tag :promocode, nil, :class => "b-register__input_text"

        .clearfix
          .b-register__fields-inner
            = radio_button_tag "invoice[payment_type][]", "robokassa"
            Robokassa
            = image_tag 'robokassa.jpg'
            .span4
              #payment-button
              -#= payment_service_for @invoice.code, APP_CONFIG['robokassa']['login'], :amount =>  @invoice.amount, :service => :robokassa, :secret => APP_CONFIG['robokassa']['secret1'] do |s|
                = submit_tag "Оплатить через робокассу", :class => 'b-register__input_submit'
          .b-register__fields-inner.b-register__fields-inner_float_right
            = radio_button_tag "invoice[payment_type][]", "clearing"
            Безналичный расчет
            %br
            = "Пожалуйста, скачайте <a href='#{APP_CONFIG[:domain]}/docs/HappyDev_12_agreement.doc'>образец договора</a>, заполните все выделенные фрагменты, кроме номера договора и вышлите на адрес <a href = 'mailto:org@happydev.ru'>org@happydev.ru </a>. В ответ мы выставим Вам счет. После зачисления средств на наш расчетный счет статус Вашей регистрации изменится на 'Оплачено'.".html_safe

    .l-page_width_page.l-page_gap-bottom_50
      %section.clearfix.b-register{:style => "margin-top:15px;border:none;padding:0px;"}
        .b-register__fields
          %label.b-register__label
            %span.b-register__inputs-inner{:style => "width:20px;"}
              = f.check_box :oferta
            %span{:style => "font-size: 14px;"}
              = "С условиями <a href='/oferta' target='blank'>Публичной оферты</a> ознакомлен и согласен".html_safe
            %i.b-register__error{:style => "margin-left:25px;"}
              = error_messages_for :oferta, @invoice

      %p.l-page_align_center
        %input.b-register__input_submit{:type => "submit", :value => "Зарегистрироваться"}/
