# encoding: utf-8
.l-page_width_page.l-page_gap-bottom_50
  = render :partial => 'layouts/logo'
  = form_for(@invoice, :url => invoice_path(@invoice)) do |f|
    .l-page_width_page.l-page_gap-bottom_50
      %section.clearfix.b-register
        .b-register__title-inner
          %h2.b-register__title
            Регистрация на конференцию
        .clearfix
          .b-register__fields-inner
            .b-register__fields
              %label.b-register__label
                %span.b-register__label-text
                  = f.label "Имя"
                %span.b-register__inputs-inner
                  = text_field_tag "user[first_name]", nil, :class => "b-register__input_text"
                  %span.b-register__required *
                %i.b-register__error
                  =# error_messages_for :first_name, @user
            .b-register__fields
              %label.b-register__label
                %span.b-register__label-text
                  Фамилия
                %span.b-register__inputs-inner
                  = text_field_tag "user[last_name]", nil, :class => "b-register__input_text"
                  %span.b-register__required *
                %i.b-register__error
                  =# error_messages_for :last_name, resource
            .b-register__fields
              %label.b-register__label
                %span.b-register__label-text
                  Город
                %span.b-register__inputs-inner
                  = text_field_tag "user[city]", nil, :class => "b-register__input_text"
          .b-register__fields-inner.b-register__fields-inner_float_right
            .b-register__fields
              %label.b-register__label
                %span.b-register__label-text
                  Эл. почта
                %span.b-register__inputs-inner
                  = email_field_tag "user[email]", nil, :class => "b-register__input_email"
                  %span.b-register__required *
                %i.b-register__error
                  =# error_messages_for :email, resource
            .b-register__fields
              %label.b-register__label
                %span.b-register__label-text
                  Компания
                %span.b-register__inputs-inner
                  = text_field_tag "user[company]", nil, :class => "b-register__input_text"
            .b-register__fields
              %label.b-register__label
                %span.b-register__label-text
                  Специализация
                %span.b-register__inputs-inner
                  = select_tag "user[professional]", "<option>Дизайн</option><option>Разработка</option><option>Управление</option>".html_safe, :include_blank => true, :class => "b-register__select"

    .l-page_width_page.l-page_gap-bottom_50
      %section.clearfix.b-register.b-register_style_green
        .b-register__title-inner
          %h2.b-register__title
            Я хочу оплатить
        .clearfix
          .l-page_display_inline.l-page_gap-right-out_45
            - @events.each do |event|
              %div
                %label.b-register__label_type_checkbox
                  - if event.priority == 0
                    = check_box_tag "invoice[event_ids][]", event.id, true, :disabled => true, :class => "b-register__input_checkbox invoice_checkbox"
                    = hidden_field_tag "invoice[event_ids][]", event.id
                  - else
                    = check_box_tag "invoice[event_ids][]", event.id, false, :class => "b-register__input_checkbox invoice_checkbox invoice_checkbox"
                  %span.b-register__label-text.b-register__label-text_width_340
                    = event.full_name
                    %span.b-price__rubl.b-price__rubl_type_dark-blue
                      a

          .l-page_display_inline.l-page_gap-right-out_45
            %label.b-register__label
              %span.b-register__label-text.b-register__label-text_type_block
                = f.label "У меня есть промокод"
              %span.b-register__inputs-inner.b-register__inputs-inner_type_small
                = text_field_tag :promocode, nil, :class => "b-register__input_text"
          .l-page_float_right.l-page_gap-right-out_45
            .b-register__total
              %h2.b-register__total-title
                Общая стоимость
              %span.b-price.b-price_type_early
                %i.b-price__number.js-amount
                  0
                %span.b-price__rubl
                  a
        .clearfix
          .b-register__line
          .l-page_float_left.l-page_gap-left-out_90
            %label.b-register__label_type_checkbox.b-register__label_valign_center
              = radio_button_tag "invoice[payment_type][]", "robokassa", nil, :class => "b-register__input_radio"
              %span.b-register__label-text.b-register__label-text_width_auto.l-page_gap-right-out_30
                %b
                  Robokassa
              = image_tag 'robokassa.jpg'
          .l-page_float_left.l-page_gap-left-out_90
            %label.b-register__label_type_checkbox
              = radio_button_tag "invoice[payment_type][]", "clearing", nil, :class => "b-register__input_radio"
              %span.b-register__label-text.b-register__label-text_width_auto
                %b
                  Безналичный расчет
            %p.b-register__text.l-page_gap-left-out_20
              Пожалуйста, скачайте &nbsp;
              %a.b-link{:href => '#{APP_CONFIG[:domain]}/docs/HappyDev_12_agreement.doc'}>  образец договора
              , заполните все выделенные фрагменты, кроме номера договора и вышлите на адрес &nbsp;
              %a.b-link{:href => 'mailto:org@happydev.ru'}> org@happydev.ru
              \. В ответ мы выставим Вам счет. После зачисления средств на наш расчетный счет статус Вашей регистрации изменится на 'Оплачено'.

    .l-page_width_page.l-page_gap-bottom_50
      %section
        .b-register__fields.l-page_align_center
          %label.b-register__label_type_checkbox.l-page_align_left.l-page_display_inline
            = f.check_box :oferta, :class => 'b-register__input_checkbox'
            %span.b-register__label-text.b-register__label-text_width_auto.b-register__text_style_small
              С условиями
              %a.b-link{:href => '/oferta', :target => 'blank'} Публичной оферты
              ознакомлен и согласен
          %i.b-register__error
            = error_messages_for :oferta, @invoice

      %p.l-page_align_center
        %input.b-register__input_submit{:type => "submit", :value => "Зарегистрироваться"}/
