#show-payment
  %legend Оплата участия на HappyDev

  - if @invoice.invoice_events.all?{|e| e.paid?}
    %h3 Ураа, ты уже на полпути к #HappyDev 2012!
    %p Ты оплатил:
    
    %ul
      - for event in @invoice.events
        %li= event.full_name

    %h3 Оплачена сумма: #{ @invoice.amount} руб.

  - else
    - if @invoice.payments.empty?
      %h3 Ты хочешь оплатить:
    - else
      %h3 Ты частично оплатил свое участие на #HappyDev 2012!

    %ul
      - for ie in @invoice.invoice_events
        %li
          = ie.event.full_name
          - if ie.paid?
            = " (<strong>Оплачено</strong>)".html_safe 

    - if @invoice.payments.empty?
      %h3 Итого к оплате: #{ @invoice.amount } руб.
    - else
      %h3 Оплачена сумма: #{ @invoice.payments.map(&:amount).sum } руб.
      %h3 Общая сумма: #{ @invoice.amount } руб.

    %br
    %h3 Способы оплаты:
    .row
      .span4
        = image_tag 'robokassa.jpg'
      .span5
        #payment-back-button{:style => "float:left;margin-right:20px;"}
          = link_to "Назад", edit_invoice_path, :class => 'btn'
        #payment-button
          = payment_service_for @invoice.code, APP_CONFIG['robokassa']['login'], :amount =>  @invoice.amount, :service => :robokassa, :secret => APP_CONFIG['robokassa']['secret1'] do |s|
            = submit_tag "Перейти к оплате через робокассу", :class => 'btn btn-primary'
