.l-page_width_page.l-page_gap-bottom_50
  = render :partial => 'layouts/logo'
  %section.clearfix.b-register{:style => "padding-top:15px;"}
    .b-register__title-inner
      %h2.b-register__title
        Оплата участия на HappyDev
    .clearfix
      - if @invoice.all_invoice_events_paid?
        %h3.b-content__title.b-content__title_type_middle.l-page_gap-left-out_40
          Ураа, ты уже на полпути к #HappyDev 2012!
      - else
        %h3.b-content__title.b-content__title_type_middle.l-page_gap-left-out_40
          Вы хотите оплатить:
      .clearfix
        .l-page_display_inline.l-page_gap-right-out_45.l-page_gap-left-out_40
          .clearfix
            - if @invoice.all_invoice_events_paid?
              %ul.b-content__list
                - for paid_event in @invoice.invoice_events
                  %li.b-content__list-item
                    #{paid_event.event.full_name_without_price},
                    %strong
                      #{paid_event.event.price}
                    %span.b-price__rubl.b-price__rubl_type_dark-blue
                      a
                    (
                    %strong{:style => 'color: green'}> Оплачено
                    )

              / %h3 Оплачена сумма: #{ @invoice.amount} руб.

            - else
              %ul.b-content__list
                - for ie in @invoice.invoice_events
                  %li.b-content__list-item
                    = ie.event.full_name
                    - if ie.paid?
                      = " (<strong color='green'>Оплачено</strong>)".html_safe

        .l-page_float_right.l-page_gap-right-out_45
          .b-register__total
            %h2.b-register__total-title
              Общая стоимость
            %span.b-price.b-price_type_early
              %i.b-price__number.js-amount
                = @invoice.amount
              %span.b-price__rubl
                a
      - unless @invoice.invoice_events.all?{|e| e.paid?}
        %section.l-page_gap-top-out_50.l-page_align_center
          %p
            = payment_service_for @invoice.code, APP_CONFIG['robokassa']['login'], :amount =>  @invoice.amount, :service => :robokassa, :secret => APP_CONFIG['robokassa']['secret1'] do |s|
              = submit_tag "Оплатить через робокассу", :class => 'b-register__input_submit'
        .clearfix
          .b-register__line
            -#.l-page_float_left.l-page_gap-left-out_90
              %label.b-register__label_type_checkbox.b-register__label_valign_center
                = radio_button_tag :payment_type, "robokassa", :checked => true, :class => "b-register__input_radio"
                  %span.b-register__label-text.b-register__label-text_width_auto.l-page_gap-right-out_30
                    %b
                      Robokassa
                  = image_tag 'robokassa.jpg'
              .l-page_float_left.l-page_gap-left-out_90
                %label.b-register__label_type_checkbox
                  = radio_button_tag :payment_type, "clearing", false, :class => "b-register__input_radio"
                  %span.b-register__label-text.b-register__label-text_width_auto
                    %b
                      Безналичный расчет

        / %p.l-page_align_center



        %h2.b-register__title
          Безналичный расчет
        %p.b-register__text
          Пожалуйста, скачайте &nbsp;
          %a.b-link{:href => "#{APP_CONFIG[:domain]}/docs/HappyDev_12_agreement.doc"}>  образец договора
          , заполните все выделенные фрагменты, кроме номера договора и вышлите на адрес &nbsp;
          %a.b-link{:href => 'mailto:org@happydev.ru'}> org@happydev.ru
          \. В ответ мы выставим Вам счет. После зачисления средств на наш расчетный счет статус Вашей регистрации изменится на 'Оплачено'.