#show-payment
  %legend Оплата участия на HappyDev

  - if @invoice.invoice_events.all?{|e| e.paid?}
    %h3 Ураа, ты уже на полпути к #HappyDev 2012!
    %p Ты оплатил:
    
    %ul
      - for event in @invoice.events
        %li= event.full_name

    %h3 Оплачена сумма: #{ @invoice.payments.map(&:amount).sum } руб.

  - else
    - if @invoice.payments.empty?
      %h3 Ты хочешь оплатить:
    - else
      %h3 Ты частично оплатил свое участие на #HappyDev 2012!

    %ul
      - for ie in @invoice.invoice_events
        %li
          = ie.event.full_name
          - if ie.paid?
            = " (<strong>Оплачено</strong>)".html_safe 

    - if @invoice.payments.empty?
      %h3 Итого к оплате: #{ @invoice.amount } руб.
    - else
      %h3 Оплачена сумма: #{ @invoice.payments.map(&:amount).sum } руб.
      %h3 Общая сумма: #{ @invoice.amount } руб.

    %br
    %h3 Способы оплаты:
    .row.payment_type{:style => "margin-top:5px;margin-bottom:15px;"}
      .span4
        = check_box_tag :clearing
        Безналичный расчет
    .row
      .span2
        #payment-back-button{:style => "float:left;margin-right:20px;"}
          = link_to "Назад", edit_invoice_path, :class => 'btn'
      .payment_content
        .span2
          = image_tag 'robokassa.jpg'
        .span4
          #payment-button
          = payment_service_for @invoice.code, APP_CONFIG['robokassa']['login'], :amount =>  @invoice.remaining_amount, :service => :robokassa, :secret => APP_CONFIG['robokassa']['secret1'] do |s|
            = submit_tag "Оплатить через робокассу (#{@invoice.remaining_amount} руб.)", :class => 'btn btn-primary'
      .payment_content{:style => "display:none;"}
        .span9
          = "Пожалуйста, скачайте <a href='#{APP_CONFIG[:domain]}/docs/HappyDev_12_agreement.doc'>образец договора</a>, заполните все выделенные фрагменты, кроме номера договора и вышлите на адрес <a href = 'mailto:org@happydev.ru'>org@happydev.ru </a>. В ответ мы выставим Вам счет. После зачисления средств на наш расчетный счет статус Вашей регистрации изменится на 'Оплачено'.".html_safe
