= javascript_include_tag 'scrollspy'
= javascript_include_tag 'scroll'

.l-page_width_page
  %section
    .l-page_width_page.l-page_gap-bottom_25
      .b-logo
        %p.b-logo__image
          = image_tag 'blocks/b-logo/logo.png', :alt => "HappyDEV 2012"
    %h1.b-landing-sections__title
      Это было что-то!
    .l-page_width_page
      = render :partial => 'photos'

    .b-landing-links
      %a.b-link.b-landing-links__link{:href => "http://happydev.ru"}
        Сайт HappyDev'12
      %a.b-link.b-landing-links__link{:href => "http://happydev.tumblr.com"}
        Блог HappyDev

    %section.clearfix.b-speaking
      .b-speaking__title-inner
        %h2.b-speaking__title
          Говорят

      #carousel-logos.b-photos.b-photos__carousel.slide
        .b-photos-carousel-inner
          .item.active
            %blockquote.twitter-tweet{:align=>"center"}
              %p
                Думаю, лучшей характеристикой прошедшего <a href="https://twitter.com/search/%23happydev">#happydev</a> станет вопрос: "Когда будет ещё?"</p>&mdash; Илья Микодин (@flashader) <a href="https://twitter.com/flashader/status/252442652203692032">September 30, 2012</a>
            %script{:async=>true, :src=>"//platform.twitter.com/widgets.js", :charset=>"utf-8"}
            %blockquote.twitter-tweet{:align=>"center"}
              %p
                Еще, я завидую (белой завистью, конечно) всем дизайнерам, разработчикам, которые посещают конференции типа <a href="https://twitter.com/search/%23happydev">#happydev</a> или <a href="https://twitter.com/search/%23yac2012">#yac2012</a>.</p>&mdash; Никита Слимов (@nksoff) <a href="https://twitter.com/nksoff/status/252491433024561153">September 30, 2012</a>
            %script{:async=>true, :src=>"//platform.twitter.com/widgets.js", :charset=>"utf-8"}
            %blockquote.twitter-tweet{:align=>"center"}
              %p
                На <a href="https://twitter.com/search/%23HappyDev">#HappyDev</a> все было очень здорово! Компания душевная, организация очень продуманная! Респект @<a href="https://twitter.com/annieomsk">annieomsk</a> и @<a href="https://twitter.com/inem">inem</a>!</p>&mdash; Данил Снитко (@Kukalyakin) <a href="https://twitter.com/Kukalyakin/status/252422185480753152">September 30, 2012</a>
            %script{:async=>true, :src=>"//platform.twitter.com/widgets.js", :charset=>"utf-8"}
          .item
            %blockquote.twitter-tweet{:align=>"center"}
              %p
                <a href="https://twitter.com/search/%23happydev">#happydev</a> закончился. Внутри какое-то странное чувство печали.. Было круто и хочется еще..</p>&mdash; Andrey Krivko (@jastkand) <a href="https://twitter.com/jastkand/status/252400850964725760">September 30, 2012</a>
            %script{:async=>true, :src=>"//platform.twitter.com/widgets.js", :charset=>"utf-8"}
            %blockquote.twitter-tweet{:align=>"center"}
              %p
                Конференция <a href="https://twitter.com/search/%23HappyDev">#HappyDev</a> оказалась очень большой, интересной и полезной. Надеюсь, это только начало. Спасибо докладчикам и организаторам!</p>&mdash; Nikita Tolstov (@ntolstov) <a href="https://twitter.com/ntolstov/status/252392789390807041">September 30, 2012</a>
            %script{:async=>true, :src=>"//platform.twitter.com/widgets.js", :charset=>"utf-8"}
            %blockquote.twitter-tweet{:align=>"center"}
              %p
                Сделал 2 доклада и провел тренинг по <a href="https://twitter.com/search/%23DDD">#DDD</a>, спасибо участникам, отдельное Спасибо организаторам <a href="https://twitter.com/search/%23HappyDev">#HappyDev</a></p>&mdash; Александр Бындю (@alexanderbyndyu) <a href="https://twitter.com/alexanderbyndyu/status/252321052368199680">September 30, 2012</a>
            %script{:async=>true, :src=>"//platform.twitter.com/widgets.js", :charset=>"utf-8"}
          .item
            %blockquote.twitter-tweet{:align=>"center"}
              %p
                <a href="https://twitter.com/search/%23happydev">#happydev</a> удался, респект оргам, докладчикам и слушателям.</p>&mdash; Sergey Susikov (@Angerslave) <a href="https://twitter.com/Angerslave/status/252305490133004288">September 30, 2012</a>
            %script{:async=>true, :src=>"//platform.twitter.com/widgets.js", :charset=>"utf-8"}
            %blockquote.twitter-tweet{:align=>"center"}
              %p
                Второй день <a href="https://twitter.com/search/%23happydev">#happydev</a> доставляет пуще первого :-)</p>&mdash; Andrey Kozhuhov (@akozhuhov) <a href="https://twitter.com/akozhuhov/status/252326099613253633">September 30, 2012</a>
            %script{:async=>true, :src=>"//platform.twitter.com/widgets.js", :charset=>"utf-8"}
            %blockquote.twitter-tweet{:align=>"center"}
              %p
                Спасибо @<a href="https://twitter.com/annieomsk">annieomsk</a> и @<a href="https://twitter.com/inem">inem</a> (и всем-всем кто помогал) за классную конференцию <a href="https://twitter.com/search/%23HappyDev">#HappyDev</a>! Вы - супер!</p>&mdash; Vitalia(@buzyavka) <a href="https://twitter.com/buzyavka/status/252421343981756417">September 30, 2012</a>
            %script{:async=>true, :src=>"//platform.twitter.com/widgets.js", :charset=>"utf-8"}

%hr.l-page-hr

.l-page_width_page
  %section.b-landing-sections
    .l-page_width_page.l-page_gap-bottom_25
      .b-logo
        %p.b-logo__image
          = image_tag 'blocks/b-logo/logo_2.png', :alt => "HappyDEV 2.0"

    %h1.b-landing-sections__title
      То ли еще будет!
    .b-landing-sections__text
      IT-Конференция 2.0
    .b-landing-red-text
      ОМСК, сентябрь 2013

    .b-landing-subscribe
      .clearfix
        .b-landing-subscribe__title-small
          Не хочу пропустить что-то важное.
        .b-landing-subscribe__title
          Держите меня в курсе!

      %form.b-landing-form
        .b-landing-inputs
          %input.b-landing-form__input.b-landing-form-item{:type => "text", :placeholder => "e-mail"}
          %button.b-landing-form-item.b-landing-subscribe__button
            Подписаться

  %footer.b-landing-footer
    .b-foot-text
      Читать в соцсетях:
      .b-landing-social-links
        %a.b-landing-social__link{:href => '#', :target => '_blank'}
          = image_tag 'sites-icons/vk.png', :class => "b-landing-social-image"
        %a.b-landing-social__link{:href => 'https://twitter.com/_HappyDev', :target => '_blank'}
          = image_tag 'sites-icons/twitter.png', :class => "b-landing-social-image"
        %a.b-landing-social__link{:href => 'http://www.facebook.com/groups/112210215595021/', :target => '_blank'}
          = image_tag 'sites-icons/facebook.png', :class => "b-landing-social-image"
