= javascript_include_tag 'scrollspy'
= javascript_include_tag 'fotorama'
= stylesheet_link_tag 'fotorama'

%section#old
  .l-page_width_page.l-page_gap-bottom_15
    .b-logo
      .b-logo-tip-wrap
        .b-logo-tip
          Это было что-то :)
        .b-logo-tip-triangle
        %p
          &mdash;
          %span
            %a{:href => "#new"}
              То ли ещё будет!
      %p.b-logo__image
        = image_tag 'blocks/b-logo/HD12.png', :alt => "HappyDev 2012"
  %h1.b-landing-sections__title
    .b-landing-sections__date
      29-30 сентября 2012, омск
    IT-конференция

.l-page_width_page
  .l-page_width_page
    = render :partial => 'photos'

  -#.b-landing-links
  -#  %a.b-link.b-landing-links__link{:href => "http://happydev.ru"}
  -#    Сайт HappyDev'12
  -#  %a.b-link.b-landing-links__link{:href => "http://happydev.tumblr.com"}
  -#    Блог HappyDev

  %section.clearfix.landing-speaking
    .b-tweets-wrap
      #tweets
        %script{:async=>true, :src=>"//platform.twitter.com/widgets.js", :charset=>"utf-8"}
        - @tweets.in_groups_of(3) do |three_tweets|
          .three-tweets-block
            - for tweet in three_tweets
              %blockquote.twitter-tweet{:align=>"center"}
                %p
                  = tweet.text.html_safe
                  %script{:async=>true, :src=>"//platform.twitter.com/widgets.js", :charset=>"utf-8"}
      #refresh-tweets
        %a{:href => "#"}
          = image_tag("refresh_icon.png")
          Еще твитов!
    .b-landing-links
      .link-wrap.blue
        %a{:href => "http://2012.happydev.ru", :target => '_blank'}
          Сайт HappyDev'12
      .link-wrap-triangle.blue
      .link-wrap.blue
        %a{:href => "http://happydev.tumblr.com", :target => '_blank'}
          Блог HappyDev
      .link-wrap-triangle.blue

      %br


      %h4 Отзывы участников:
      .link-wrap
        %a{:href => "http://www.mahog.ru/blogs/konferentsiya-happydev", :target => '_blank'}
          Махогани
      .link-wrap-triangle
      .link-wrap
        %a{:href => "http://www.rocketsmedia.ru/IT_atmosphere", :target => '_blank'}
          Rockets Media
      .link-wrap-triangle
      .link-wrap
        %a{:href => "http://www.buhgalter20.ru/blog/_happydev/", :target => '_blank'}
          <small>Первая онлайн-бухгалтерия</small>
      .link-wrap-triangle
      .link-wrap
        %a{:href => "http://noveogroup.ru/blog/1119", :target => '_blank'}
          Новео
      .link-wrap-triangle



%section.b-landing-sections#new
  .l-page_width_page.l-page_gap-bottom_15
    .b-logo
      %p.b-logo__image
        = image_tag 'blocks/b-logo/HD13.png', :alt => "HappyDev'13"
    .b-new-logo-tip-wrap
      .b-new-logo-tip
        &mdash; Больше, чем конференция!
      .b-new-logo-tip-triangle
  %h1.b-landing-sections__title.new
    .b-landing-sections__date.new-date
      омск, сентябрь 2013

.l-page_width_page
  .b-landing-subscribe
    .clearfix
      .b-landing-subscribe__title-small
        Не хочу пропустить ничего важного.
      .b-landing-subscribe__title
        Держите меня в курсе!

    %form.b-landing-form{:action => subscribe_email_path, :method => "POST"}
      .b-landing-inputs
        .b-landing-form__success
        %span.b-landing-form__error
        .b-landing-form__input-wrap
          %input.b-landing-form__input.b-landing-form-item{:type => "text", :placeholder => "   e-mail", :name => "email", :onfocus=>"this.placeholder = ''", :onblur=>"this.placeholder = '   e-mail'"}
          = image_tag('ajax-loader.gif', :style => 'display: none;', :class => 'ajax-loader')
          %button.b-landing-subscribe__button
            Подписаться

  %footer.b-landing-footer
    .b-foot-text
      Happydev в соцсетях:
      .b-landing-social-links
        %a.b-landing-social__link{:href => 'http://vk.com/happydev', :target => '_blank'}
          = image_tag 'sites-icons/vk.png', :class => "b-landing-social-image"
        %a.b-landing-social__link{:href => 'https://twitter.com/_HappyDev', :target => '_blank'}
          = image_tag 'sites-icons/twitter.png', :class => "b-landing-social-image"
        %a.b-landing-social__link{:href => 'http://www.facebook.com/groups/112210215595021/', :target => '_blank'}
          = image_tag 'sites-icons/facebook.png', :class => "b-landing-social-image"
