= javascript_include_tag 'blocks/b-programm/b-programm-likes_getter'

%section#programm.b-programm.l-page_gap-top_25.l-page_gap-top-out_35
  .l-page_align_center.b-title__line
    .b-title__inner
      %h2.b-title
        Программа 29 сентября
  %table.b-programm__table
    %thead.b-programm__head
      %tr.b-programm__row
        %th.b-programm__column.b-programm__column_width_40
        %th.b-programm__column
          %p.b-programm__text
            = @sections.select {|s| s.id == 1}.first.name
        %th.b-programm__column
          %p.b-programm__text
            = @sections.select {|s| s.id == 3}.first.name
        %th.b-programm__column
          %p.b-programm__text
            = @sections.select {|s| s.id == 2}.first.name
    %tbody.b-programm__body
      %tr.b-programm__row
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            9:00
        %td.b-programm__column{:colspan => "3"}
          %ul.b-icon
            %li.b-icon__item
              %span.b-icon__icon.b-icon__icon_register
              -# = image_tag 'pdf_program_icons/icons_01.svg'
          %p.b-programm__text
            Регистрация
      
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            10:00
        %td.b-programm__column{:colspan => "3"}
          %ul.b-icon
            %li.b-icon__item
              -# %span.b-icon__icon.b-icon__icon_opening
              = wicked_pdf_image_tag 'pdf_program_icons/icons_05.svg'
          %p.b-programm__text
            Открытие конференции

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            10:15
        // Артем Поликарпов ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('polikarpov-fotorama'), :as => :speech
        // Ольга Павлова ======================================================              
        %td.b-programm__column.b-programm__column_type_middle{:rowspan => "2", :colspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('pavlova'), :as => :speech

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            10:45
        // Максим Трескин ======================================================
        %td.b-programm__column.b-program__column_type_large
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('treskin'), :as => :speech

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            11:15
        // Юрий Подорожный ======================================================
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('podorozhny'), :as => :speech
        // Александр Кудымов ======================================================
        %td.b-programm__column.b-programm__column_type_middle
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('kudymov-scrum'), :as => :speech
        // Данил Снитко ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('snitko'), :as => :speech

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            11:45
        // Артем Кудзев ======================================================
        %td.b-programm__column.b-programm__column_type_middle
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('kudzev'), :as => :speech
        // Артем Поликарпов ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('polikarpov-technolog'), :as => :speech

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            12:15
        // Петр Диденко ======================================================
        %td.b-programm__column.b-program__column_type_large{:colspan => "3"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('didenko'), :as => :speech

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            13:00
        %td.b-programm__column{:colspan => "3"}
          %ul.b-icon
            %li.b-icon__item
              -# %span.b-icon__icon.b-icon__icon_lunch
              = wicked_pdf_image_tag 'pdf_program_icons/icons_02.svg'
          %p.b-programm__text
            Обед

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            14:00
        // Леонид Волков ======================================================
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('volkov'), :as => :speech
        // Андрей Шапиро ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('shapiro'), :as => :speech
        // Саша Косс ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('koss'), :as => :speech

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            14:30
        // Данил Снитко фейкстиваль ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('snitko-fakestival'), :as => :speech

        // Антон Язовский ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('yazovskiy'), :as => :speech
      
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            15:00
        // Рамиль Шайхутдинов ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('shayhutdinov'), :as => :speech
        // Александр Кудымов ======================================================
        %td.b-programm__column.b-programm__column_type_middle
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('kudymov-design'), :as => :speech
        // Анна Тарасенко ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('tarasenko'), :as => :speech
      
      %tr.b-programm__row
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            15:30
        // Волков, Павлова, Диденко ======================================================
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('startup-porka-part1'), :as => :speech
        // Александр Чистяков ======================================================
        %td.b-programm__column.b-programm__column_type_middle{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('chistyakov'), :as => :speech
        // Антон Непомнящих ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('nepomnyashikh'), :as => :speech

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            16:00
        // Сергей Буш ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('bush'), :as => :speech
      
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            16:25
        %td.b-programm__column{:colspan => "3"}
          %ul.b-icon
            %li.b-icon__item
              -# %span.b-icon__icon.b-icon__icon_coffee-break
              = wicked_pdf_image_tag 'pdf_program_icons/icons_01.svg'
          %p.b-programm__text
            Кофе-брейк

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            16:40
        // Яков Сироткин ======================================================
        %td.b-programm__column.b-program__column_type_large{:colspan => "3"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('sirotkin'), :as => :speech

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            17:20
        // Волков, Павлова, Диденко ======================================================
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('startup-porka-part2'), :as => :speech
        // Максим Гуртовенко ======================================================
        %td.b-programm__column.b-programm__column_type_middle{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('gurtovenko'), :as => :speech
        // Александр Бындю ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('byndyu'), :as => :speech
      
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            17:50
        // Максим Савилов ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('savilov-shevtsova'), :as => :speech

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            18:20
        // Никита Филиппов ======================================================
        %td.b-programm__column.b-program__column_type_large{:colspan => "3"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview_for_print", :object => @speeches.find_by_permalink('filippov'), :as => :speech

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            19:20
        %td.b-programm__column{:colspan => "3"}
          %ul.b-icon
            %li.b-icon__item
              -# %span.b-icon__icon.b-icon__icon_end
              = wicked_pdf_image_tag 'pdf_program_icons/icons_06.svg'
          %p.b-programm__text
            Завершение дня

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            20:00
        %td.b-programm__column.js-b-programm__content{:colspan => "1"}
          %ul.b-icon
            %li.b-icon__item
              -# %span.b-icon__icon.b-icon__icon_afterparty
              = wicked_pdf_image_tag 'pdf_program_icons/icons_04.svg'
          %p.b-programm__text
            %p.b-programm__theme
              Afterparty
            .b-programm__desc.js-b-programm__desc
              .b-programm__desc-person
                %h2 Afterparty
                
                %span.b-programm__desc-text
                  Вечером 29 сентября мы приглашаем тебя на afterparty в ресторан - предзаказ стоимостью 300 руб. можно будет оплатить во время регистрации.
                
        %td.b-programm__column.js-b-programm__content{:colspan => "2"}
