// Second_Day ////////////////
%section#programm.b-programm.l-page_gap-top-out_30
  #second_day
  .l-page_align_center.b-title__line
    .b-title__inner
      %h2.b-title
        Программа 30 сентября
  .l-page_gap-top-out_35
    .b-programm__row
      .b-programm__head-title.clearfix
        .l-page_float_left.l-page_width_80
          %p.b-programm__text
            10:00
        .l-page_float_left
          %p.b-programm__text
            Мастер-классы
      .b-programm__content-small
        %ul.b-programm__list.clearfix
          %li.b-programm__list-item.js-b-programm__content
            = render :partial => "speeches/small_preview", :object => @speeches.find_by_permalink('byndyu-masterclass'), :as => :speech
          %li.b-programm__list-item.js-b-programm__content
            = render :partial => "speeches/small_preview", :object => @speeches.find_by_permalink('podorozhny-masterclass'), :as => :speech
          %li.b-programm__list-item.js-b-programm__content
            = render :partial => "speeches/small_preview", :object => @speeches.find_by_permalink('ivanischev-idea'), :as => :speech
          %li.b-programm__list-item.js-b-programm__content
            = render :partial => "speeches/small_preview", :object => @speeches.find_by_permalink('ivanischev-planning'), :as => :speech
          %li.b-programm__list-item.js-b-programm__content
            = render :partial => "speeches/small_preview", :object => @speeches.find_by_permalink('nepomnyashikh-masterclass'), :as => :speech
          %li.b-programm__list-item.js-b-programm__content
            = render :partial => "speeches/small_preview", :object => @speeches.find_by_permalink('shapiro-masterclass'), :as => :speech
    .b-programm__row
      .b-programm__head-title.clearfix
        .l-page_float_left.l-page_width_80
          %p.b-programm__text
            14:00
        .l-page_float_left
          %p.b-programm__text
            Доклады
      .b-programm__content-small
        %ul.b-programm__list.clearfix
          %li.b-programm__list-item.js-b-programm__content
            = render :partial => "speeches/small_preview", :object => @speeches.find_by_permalink('belokrys'), :as => :speech
          %li.b-programm__list-item.js-b-programm__content
            = render :partial => "speeches/small_preview", :object => @speeches.find_by_permalink('bektimirov'), :as => :speech
          %li.b-programm__list-item.js-b-programm__content
            = render :partial => "speeches/small_preview", :object => @speeches.find_by_permalink('mikodin'), :as => :speech
          %li.b-programm__list-item.js-b-programm__content
            = render :partial => "speeches/small_preview", :object => @speeches.find_by_permalink('shibaev'), :as => :speech
    -#.b-programm__row
      .b-programm__head-title.clearfix
        .l-page_float_left.l-page_width_80
          %p.b-programm__text
            &nbsp;
        .l-page_float_left
          %p.b-programm__text
            Круглые столы
      .b-programm__content-small
        %ul.b-programm__list.clearfix
          %li.b-programm__list-item.js-b-programm__content
          %li.b-programm__list-item.js-b-programm__content
