= wicked_pdf_stylesheet_link_tag 'application'
= wicked_pdf_stylesheet_link_tag 'pdf/print'

.l-page_width_page.l-page_gap-top-out_35
  .l-page_align_center.pdf-logo
    = wicked_pdf_image_tag 'pdf_program_icons/HD_logo.svg', :class => 'b-pdf__header_logo'
  - if @user.likes.size > 0
    .l-page_align_center.l-page_gap-top-out_20
      %h2.b-comments__person-name= @user.full_name
  = render :partial => 'programs/first_day'

  .b-organizers__row.organizers-pdf
    = wicked_pdf_image_tag 'pdf_organizers_icons/02.svg', :class => 'b-organizers__logo'
    = wicked_pdf_image_tag 'pdf_organizers_icons/01.svg', :class => 'b-organizers__logo'
    = wicked_pdf_image_tag 'pdf_organizers_icons/05.svg', :class => 'b-organizers__logo'
    = wicked_pdf_image_tag 'pdf_organizers_icons/03.svg', :class => 'b-organizers__logo'
    = wicked_pdf_image_tag 'pdf_organizers_icons/04.svg', :class => 'b-organizers__logo'
