= wicked_pdf_stylesheet_link_tag 'application'
= wicked_pdf_stylesheet_link_tag 'pdf/print'

.l-page_width_page
  .l-page_float_left.l-page_gap-left-out_20.pdf-logo
    = wicked_pdf_image_tag 'blocks/b-logo/logo.png', :class => 'b-pdf__header_logo'
  = render :partial => 'programs/first_day'

  .b-organizers__row.organizers-pdf
    = wicked_pdf_image_tag 'blocks/b-organizers/7bits-logo.png', :class => 'b-organizers__logo', :alt => '7bits'
    = wicked_pdf_image_tag 'blocks/b-organizers/skb-kontur.png', :class => 'b-organizers__logo', :alt => 'Скб-Контур'
    = wicked_pdf_image_tag 'blocks/b-organizers/thumbtack.png', :class => 'b-organizers__logo', :alt => 'Тамтэк'
    = wicked_pdf_image_tag 'blocks/b-organizers/a2design-logo.png', :class => 'b-organizers__logo', :alt => 'a2design'
    = wicked_pdf_image_tag 'blocks/b-organizers/it-cluster.png', :class => 'b-organizers__logo', :alt => 'IT-кластер'
