.devise-session

  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f|
    = devise_error_messages!
    %legend Меняем пароль:
    = f.input :reset_password_token, :as => :hidden
    = f.full_error :reset_password_token
    = f.input :password, :label => "Пароль", :required => true
    = f.input :password_confirmation, :label => "Еще раз пароль", :required => true
    .form-actions
      = f.button :submit, "Готово"
      = render "devise/shared/links"

