.devise-session

  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f|
    = devise_error_messages!
    %legend Восстановление пароля
    = f.input :email, :required => true
    .form-actions
      = f.button :submit, "Пришлите мне письмо с инструкцией"
      = render "devise/shared/links"

