%section#organizers.b-organizers
  .b-organizers__inner.clearfix
    .l-page_float_left.l-page_gap-right-out_45
      %h2.b-organizers__title
        Организаторы конференции
      %a.b-organizers__link{:href => 'http://7bits.it', :target => '_blank'}
        = image_tag 'blocks/b-organizers/7bits-logo.png', :class => 'b-organizers__logo', :alt => '7bits'
    .l-page_float_left
      %h2.b-organizers__title
        Спонсоры
      %a.b-organizers__link{:href => 'http://skbkontur.ru', :target => '_blank'}
        = image_tag 'blocks/b-organizers/skb-kontur.png', :class => 'b-organizers__logo', :alt => 'Скб-Контур'
      %a.b-organizers__link{:href => 'http://thumbtack.ru', :target => '_blank'}
        = image_tag 'blocks/b-organizers/thumbtack.png', :class => 'b-organizers__logo', :alt => 'Тамтэк'
  .b-organizers__inner.clearfix
    %h2.b-organizers__title
      Генеральный партнер
    %a.b-organizers__link{:href => 'http://itsiberia.ru/', :target => '_blank'}
      = image_tag 'blocks/b-organizers/it-cluster.png', :class => 'b-organizers__logo', :alt => 'IT-кластер'
  .b-organizers__inner.clearfix
    .l-page_float_left.l-page_gap-right-out_45
      %h2.b-organizers__title
        Дизайн-партнер
      %a.b-organizers__link{:href => 'http://a2design.ru', :target => '_blank'}
        = image_tag 'blocks/b-organizers/a2design-logo.png', :class => 'b-organizers__logo', :alt => 'a2design'
    .l-page_float_left
      %h2.b-organizers__title
        Экспертная поддержка
      %a.b-organizers__link{:href => 'http://raec.ru', :target => '_blank'}
        = image_tag 'blocks/b-organizers/raec.png', :class => 'b-organizers__logo', :alt => 'РАЭК'

  .b-organizers__inner.clearfix
    %h2.b-organizers__title
      Информационная поддержка
    .b-organizers__row
      %a.b-organizers__link{:href => 'http://hh.ru', :target => '_blank'}
        = image_tag 'blocks/b-organizers/hh.png', :class => 'b-organizers__logo', :alt => 'Headhunter'
      %a.b-organizers__link{:href => 'http://omskpress.ru', :target => '_blank'}
        = image_tag 'blocks/b-organizers/omskpress.png', :class => 'b-organizers__logo', :alt => 'Омскпресс'
      %a.b-organizers__link{:href => 'http://luxoft-training.ru', :target => '_blank'}
        = image_tag 'blocks/b-organizers/luxoft-training.png', :class => 'b-organizers__logo', :alt => 'Luxoft Training'
      %a.b-organizers__link{:href => 'http://agilerussia.ru', :target => '_blank'}
        = image_tag 'blocks/b-organizers/agile-russia.png', :class => 'b-organizers__logo', :alt => 'Agile Russia'
    .b-organizers__row
      %a.b-organizers__link{:href => 'http://rocid.ru', :target => '_blank'}
        = image_tag 'blocks/b-organizers/rocid.png', :class => 'b-organizers__logo', :alt => 'ROCID'
      %a.b-organizers__link{:href => 'http://in-numbers.ru', :target => '_blank'}
        = image_tag 'blocks/b-organizers/in-numbers.png', :class => 'b-organizers__logo', :alt => 'Интернет в Цифрах'
      %a.b-organizers__link{:href => 'http://wmalliance.ru/', :target => '_blank'}
        = image_tag 'blocks/b-organizers/wmalliance.png', :class => 'b-organizers__logo', :alt => 'Wmalliance - Независимое объединение обменных пунктов'
      %a.b-organizers__link{:href => 'http://zeonweb.ru/', :target => '_blank'}
        = image_tag 'blocks/b-organizers/zeon.png', :class => 'b-organizers__logo', :alt => 'ZEON'
