%section#organizers.b-organizers
  .b-organizers__inner.clearfix
    .l-page__float_left.l-page_gap-right-out_45
      %h2.b-organizers__title
        Организаторы конференции
      = image_tag 'blocks/b-organizers/7bits-logo.png', :class => 'b-organizers__logo', :alt => '7bits'
    .l-page__float_left
      %h2.b-organizers__title
        Генеральные спонсоры
      = image_tag 'blocks/b-organizers/renault-logo.png', :class => 'b-organizers__logo', :alt => 'Renault'
      = image_tag 'blocks/b-organizers/peugeot-logo.png', :class => 'b-organizers__logo', :alt => 'Peugeot'
      = image_tag 'blocks/b-organizers/nissan-logo.png',  :class => 'b-organizers__logo', :alt => 'Nissan'
  .b-organizers__inner.clearfix
    %h2.b-organizers__title
      Спонсоры
    = image_tag 'blocks/b-organizers/euromed-logo.png', :class => 'b-organizers__logo', :alt => 'Евромед'
    = image_tag 'blocks/b-organizers/vavilon-logo.png', :class => 'b-organizers__logo', :alt => 'Вавилон'
    = image_tag 'blocks/b-organizers/zefir-logo.png', :class => 'b-organizers__logo', :alt => 'Солёный зефир'
  .b-organizers__inner.clearfix
    %h2.b-organizers__title
      Партнеры
    = image_tag 'blocks/b-organizers/a2design-logo.png', :class => 'b-organizers__logo', :alt => 'a2design'

  .b-organizers__inner.clearfix
    %h2.b-organizers__title
      Информационная поддержка
    = image_tag 'blocks/b-organizers/stolnik-logo.png', :class => 'b-organizers__logo', :alt => 'Стольник'
