%section#organizers.b-organizers
  .b-organizers__inner.clearfix
    .l-page_float_left.l-page_gap-right-out_45
      %h2.b-organizers__title
        Организаторы конференции
      %a.b-organizers__link{:href => 'http://7bits.it'}
        = image_tag 'blocks/b-organizers/7bits-logo.png', :class => 'b-organizers__logo', :alt => '7bits'
    .l-page_float_left
      %h2.b-organizers__title
        Спонсор
      %a.b-organizers__link{:href => 'http://skbkontur.ru'}
        = image_tag 'blocks/b-organizers/skb-kontur.png', :class => 'b-organizers__logo', :alt => 'Скб-Контур'
  .b-organizers__inner.clearfix
    %h2.b-organizers__title
      Генеральный партнер
    %a.b-organizers__link{:href => ''}
      = image_tag 'blocks/b-organizers/', :class => 'b-organizers__logo', :alt => 'IT-кластер'
  .b-organizers__inner.clearfix
    %h2.b-organizers__title
      Дизайн-партнер
    %a.b-organizers__link{:href => 'http://a2design.ru'}
      = image_tag 'blocks/b-organizers/a2design-logo.png', :class => 'b-organizers__logo', :alt => 'a2design'

  .b-organizers__inner.clearfix
    %h2.b-organizers__title
      Информационная поддержка
    %a.b-organizers__link{:href => 'http://hh.ru'}
      = image_tag 'blocks/b-organizers/hh.png', :class => 'b-organizers__logo', :alt => 'Headhunter'
    %a.b-organizers__link{:href => 'http://omskpress.ru'}
      = image_tag 'blocks/b-organizers/omskpress.png', :class => 'b-organizers__logo', :alt => 'Омскпресс'
