%section#venue.b-venue.l-page_gap-top-out_50
  %h2.b-venue__title
    Место проведения
  %p.b-content__text
    Как доехать до
    = link_to "HappyDev'12", "javascript: void(0);", :onclick => 'myMap.setCenter(new DG.GeoPoint(73.3248460943341,54.97891767527),15.5);',
                                                     :class => 'b-link'
    c
    = link_to "ж/д вокзала", 'javascript: void(0);', :onclick => 'myMap.setCenter(new DG.GeoPoint(73.384812,54.94006),15.5);',
                                                     :class => 'b-link'
    , из
    = link_to "аэропорта", 'javascript: void(0);', :class => 'b-link'
    или 
    = link_to "на метро", 'javascript: void(0);', :class => 'b-link'
  .b-venue__map
    -# yandex map:
    -# #ymaps-map-id_134753110165585967103{:style => "width: 100%; height: 400px;"}
    -# %script{:type => "text/javascript"}
    -#   function fid_134753110165585967103(ymaps) {var map = new ymaps.Map("ymaps-map-id_134753110165585967103", {center: [73.32422514111155, 54.98028098927026], zoom: 15, type: "yandex#map"});map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));map.geoObjects.add(new ymaps.Placemark([73.32484869546488, 54.978905755399516], {balloonContent: "HappyDev"}, {preset: "twirl#lightblueDotIcon"}));};</script>
    -# %script{:type =>"text/javascript", :src => "http://api-maps.yandex.ru/2.0/?coordorder=longlat&load=package.full&wizard=constructor&lang=ru-RU&onload=fid_134753110165585967103"}
  
    -# 2GIS Mini Widget:
    -# %noscript#dg-widget-minigis-place-2fe734c6{:style =>"color:#c00;font-size:16px;font-weight:bold;"}
    -#   Виджет miniGIS использует JavaScript. Включите его в настройках вашего браузера.
    -# %script{:src =>"http://mini.api.2gis.ru/js/ver_7d7aab3/loader.js"}
    -# :javascript
    -#     new DG.Widget.Components.Loader({
    -#         wid: '2fe734c6', 
    -#         params: { "projectSelector":{"id":2,"code":"omsk","name":"Омск","centroid":"POINT(73.384884 54.974635)","timezone":"Asia/Omsk"},
    -#                   "search":{
    -#                     "rubrics":{"list":["_10","_12","_16","_18","_43","_48"]},
    -#                     "_searchFirmBasePoint":{"lon":73.3248460943341,"lat":54.97891767527},
    -#                     "searchPlaceName":"Омск, 70 лет Октября, 25 к4"},
    -#                   "customBalloon":{"content":"Омск, 70 лет Октября, 25 к4"},
    -#                   "Map":{"zoom":14,"lon":73.3248460943341,"lat":54.97891767527,"customBalloon":true,"customBallonHidden":false},
    -#                   "resize":{"w":980,"h":400}},
    -#                   });

    -# 2GIS standart map:
    %script{:type => "text/javascript", :src => "http://maps.api.2gis.ru/1.0"}
    #2gis_map{:style =>"width:100%; height:400px;"}
   
    %script{:type => "text/javascript"}
      :plain
        DG.autoload(function() {
          myMap = new DG.Map('2gis_map');
          myMap.disableScrollZoom();
          myMap.fullscreen.enable();
          myMap.geoclicker.enable();
          
          myMap.setCenter(new DG.GeoPoint(73.3248460943341,54.97891767527),15.5);
          myMap.controls.add(new DG.Controls.Zoom());

          var myBalloon = new DG.Balloons.Common({
              geoPoint: new DG.GeoPoint(73.3248460943341,54.9789176752755),
              contentHtml: "<img src=#{image_path('logo_24px.png')}><br><p>Конгресс-холл экспоцентра Континент<br>70 лет Октября, 25 к4</p><br>"
          });

          var stationBalloon = new DG.Balloons.Common({
              geoPoint: new DG.GeoPoint(73.384812,54.94006),
              contentHtml: "<p><b>Остановка: Ж/д вокзал.</b><br><br>С этой остановки до HappyDev вас довезут:<br><b>Маршрутки</b>: 103, 374, 409, 371, 418.<br><b>Автобусы</b>: 24, 74.</br><b>Троллейбус</b>: 7</p>Выйти будет нужно на остановке 11-ый микрорайон"
          });
          var myMarker = new DG.Markers.Common({
              geoPoint: new DG.GeoPoint(73.3248460943341,54.9789176752755),
              clickCallback: function() {
                  if (! myMap.balloons.getDefaultGroup().contains(myBalloon)) {
                      myMap.balloons.add(myBalloon);
                  } else {
                      myBalloon.show();
                  }
              }
          });
          var stationMarker = new DG.Markers.Common({
              geoPoint: new DG.GeoPoint(73.384812,54.94006),
              clickCallback: function() {
                  if (! myMap.balloons.getDefaultGroup().contains(stationBalloon)) {
                      myMap.balloons.add(stationBalloon);
                  } else {
                      stationBalloon.show();
                  }
              }
          });
          myMap.balloons.add(myBalloon);
          myMap.balloons.add(stationBalloon);
          stationBalloon.show()
          myBalloon.show();
          myMap.markers.add(myMarker);
          myMap.markers.add(stationMarker);
          myMap.setCenter(new DG.GeoPoint(73.3248460943341,54.97891767527),15.5);
        });
