%section#programm.b-programm.l-page_gap-top_25
  .l-page_align_center.b-programm__line
    .b-programm__title-inner
      %h2.b-programm__title
        Программа
  %table.b-programm__table
    %tbody.b-programm__body
      %tr.b-programm__row
        %td.b-programm__column{:style=> "width:150px"}
          %p.b-programm__text
            9:00
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__text
            Регистрация
      

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          %p.b-programm__text
            10:00
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__text
            /{:style => "margin-left:34%"}
            Открытие конференции
      

      %tr.b-programm__row
        %td.b-programm__column
          %p.b-programm__text
            10:25
        // Юрий Подорожный ======================================================
        %td.b-programm__column{:rowspan => 2, :style=> "width:28%"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('podorozhny'), :as => :speech
        // Ольга Павлова ======================================================              
        %td.b-programm__column{:rowspan => 2, :style=> "width:28%"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('pavlova'), :as => :speech
            -# =render :partial => "home/product/pavlova"
        // Данил Снитко ======================================================
        %td.b-programm__column{:style=> "width:28%"}
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/factory/snitko"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('snitko'), :as => :speech

      %tr.b-programm__row
        %td.b-programm__column
          %p.b-programm__text
            11:20
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/factory/polykarpov"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('polykarpov-factory'), :as => :speech
     

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          %p.b-programm__text
            11:20
        // Рамиль Шайхутдинов ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/startup/shayhutdinov"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('shayhutdinov'), :as => :speech
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/product/kudymov_scrum"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('kudymov-scrum'), :as => :speech
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/factory/shapiro"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('shapiro'), :as => :speech
      %tr.b-programm__row
        %td.b-programm__column
          %p.b-programm__text
            11:50
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/startup/polykarpov"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('fotorama'), :as => :speech
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/product/kudzev"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('kudzev'), :as => :speech
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/factory/savilov"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('savilov'), :as => :speech
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          %p.b-programm__text
            12:20
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/startup/treskin"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('treskin'), :as => :speech
        %td.b-programm__column{:colspan => "3"}
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/cross_section/filippov"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('filippov'), :as => :speech
      %tr.b-programm__row
        %td.b-programm__column
          %p.b-programm__text
            13:00
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__text
            Обед
      / %tr.b-programm__row.b-programm__row_state_filled
      /   %td.b-programm__column
      /     %p.b-programm__text
      /       13:40-14:20
      /   %td.b-programm__column{:colspan => "3"}
      /     %p.b-programm__text
      /       Конкурсы
      %tr.b-programm__row
        %td.b-programm__column
          %p.b-programm__text
            14:20
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/cross_section/sirotkin"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('sirotkin'), :as => :speech
        %td.b-programm__column{:colspan => "2"}
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          %p.b-programm__text
            15:05
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/startup/volkov"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('volkov'), :as => :speech
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/product/kudymov_design"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('kudymov-design'), :as => :speech
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('koss'), :as => :speech
            -# =render :partial => "home/factory/koss"
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          %p.b-programm__text
            15:50
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/factory/yazovskiy"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('yazovskiy'), :as => :speech
      
      %tr.b-programm__row
        %td.b-programm__column
          %p.b-programm__text
            16:00
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/startup/filippov"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('filippov-startup'), :as => :speech
        %td.b-programm__column
          ?
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/factory/tarasenko"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('tarasenko'), :as => :speech
      
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          %p.b-programm__text
            16:20
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__column-title
            Кофе-брейк
      %tr.b-programm__row
        %td.b-programm__column
          %p.b-programm__text
            16:40
        %td.b-programm__column
          = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('startup-porka-part2'), :as => :speech
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/product/gurtovenko"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('gurtovenko'), :as => :speech
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('nepomnyashikh'), :as => :speech
            -# =render :partial => "home/factory/nepomnyashikh"
      
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          %p.b-programm__text
            17:20
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/startup/volkov-pavlova"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('startup-porka-part1'), :as => :speech
        %td.b-programm__column
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/factory/byndyu"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('byndyu'), :as => :speech
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column
          %p.b-programm__text
            18:40
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/product/chistyakov"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('chistyakov'), :as => :speech
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            -# =render :partial => "home/factory/bush"
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('bush'), :as => :speech
      
      %tr.b-programm__row
        %td.b-programm__column
          %p.b-programm__text
            18:50
        %td.b-programm__column{:colspan => "3"}
          %p.b-programm__text
            Закрытие
