%section#programm.b-programm.l-page_gap-top_25
  .l-page_align_center.b-programm__line
    .b-programm__title-inner
      %h2.b-programm__title
        Программа 29 сентября
  %table.b-programm__table
    %thead.b-programm__head
      %tr.b-programm__row
        %th.b-programm__column.b-programm__column_width_40
        %th.b-programm__column
          %p.b-programm__text
            = @sections.select {|s| s.id == 1}.first.name
        %th.b-programm__column
          %p.b-programm__text
            = @sections.select {|s| s.id == 3}.first.name
        %th.b-programm__column
          %p.b-programm__text
            = @sections.select {|s| s.id == 2}.first.name
    %tbody.b-programm__body
      %tr.b-programm__row
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            9:00
        %td.b-programm__column{:colspan => "3"}
          %span.b-programm__icon-b.b-programm__icon-b_icon_register
          %p.b-programm__text
            Регистрация
      
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            10:00
        %td.b-programm__column{:colspan => "3"}
          %span.b-programm__icon-b.b-programm__icon-b_icon_opening
          %p.b-programm__text
            Открытие конференции

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            10:15
        // Артем Поликарпов ======================================================
        %td.b-programm__column{:style=> "width:27%"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('polikarpov-fotorama'), :as => :speech
        // Ольга Павлова ======================================================              
        %td.b-programm__column.b-programm__column_type_middle{:rowspan => "2", :colspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('pavlova'), :as => :speech

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            10:45
        // Максим Трескин ======================================================
        %td.b-programm__column.b-program__column_type_large
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('treskin'), :as => :speech

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            11:15
        // Юрий Подорожный ======================================================
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('podorozhny'), :as => :speech
        // Александр Кудымов ======================================================
        %td.b-programm__column.b-programm__column_type_middle
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('kudymov-scrum'), :as => :speech
        // Данил Снитко ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('snitko'), :as => :speech

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            11:45
        // Артем Кудзев ======================================================
        %td.b-programm__column.b-programm__column_type_middle
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('kudzev'), :as => :speech
        // Артем Поликарпов ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('polikarpov-technolog'), :as => :speech

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            12:15
        // Петр Диденко ======================================================
        %td.b-programm__column.b-program__column_type_large{:colspan => "3"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('didenko'), :as => :speech

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            13:00
        %td.b-programm__column{:colspan => "3"}
          %span.b-programm__icon-b.b-programm__icon-b_icon_lunch
          %p.b-programm__text
            Обед

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            14:00
        // Леонид Волков ======================================================
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('volkov'), :as => :speech
        // Андрей Шапиро ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('shapiro'), :as => :speech
        // Саша Косс ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('koss'), :as => :speech

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            14:30
        // Докладчик уточняется ======================================================
        %td.b-programm__column
          %p.b-programm__text
            Докладчик уточняется
        // Антон Язовский ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('yazovskiy'), :as => :speech
      
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            15:00
        // Рамиль Шайхутдинов ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('shayhutdinov'), :as => :speech
        // Александр Кудымов ======================================================
        %td.b-programm__column.b-programm__column_type_middle
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('kudymov-design'), :as => :speech
        // Анна Тарасенко ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('tarasenko'), :as => :speech
      
      %tr.b-programm__row
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            15:30
        // Волков, Павлова, Диденко ======================================================
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('startup-porka-part1'), :as => :speech
        // Александр Чистяков ======================================================
        %td.b-programm__column.b-programm__column_type_middle{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('chistyakov'), :as => :speech
        // Антон Непомнящих ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('nepomnyashikh'), :as => :speech

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            16:00
        // Сергей Буш ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('bush'), :as => :speech
      
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            16:25
        %td.b-programm__column{:colspan => "3"}
          %span.b-programm__icon-b.b-programm__icon-b_icon_cofee-break
          %p.b-programm__text
            Кофе-брейк

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            16:40
        // Яков Сироткин ======================================================
        %td.b-programm__column.b-program__column_type_large{:colspan => "3"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('sirotkin'), :as => :speech

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            17:20
        // Волков, Павлова, Диденко ======================================================
        %td.b-programm__column{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('startup-porka-part2'), :as => :speech
        // Максим Гуртовенко ======================================================
        %td.b-programm__column.b-programm__column_type_middle{:rowspan => "2"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('gurtovenko'), :as => :speech
        // Александр Бындю ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('byndyu'), :as => :speech
      
      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            17:50
        // Максим Савилов ======================================================
        %td.b-programm__column
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('savilov'), :as => :speech

      %tr.b-programm__row
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            18:20
        // Никита Филиппов ======================================================
        %td.b-programm__column.b-program__column_type_large{:colspan => "3"}
          .b-programm__content.js-b-programm__content
            = render :partial => "speeches/preview", :object => @speeches.find_by_permalink('filippov'), :as => :speech

      %tr.b-programm__row.b-programm__row_state_filled
        %td.b-programm__column.b-programm__column_width_40
          %p.b-programm__text
            19:20
        %td.b-programm__column{:colspan => "3"}
          %span.b-programm__icon-b.b-programm__icon-b_icon_end
          %p.b-programm__text
            Завершение дня


-#%section#programm.b-programm.l-page_gap-top_25
  .l-page_align_center.b-programm__line
    .b-programm__title-inner
      %h2.b-programm__title
        Программа 30 сентября (уточняется)
  %table.b-programm__table
    %tbody.b-programm__body
      %tr.b-programm__row
        %td.b-programm__column{:style=> "width:80px;"}
        %td.b-programm__column
          %p.b-programm__text
            Мастер-класс Александра Бындю
        %td.b-programm__column
          %p.b-programm__text
            Мастер-класс Юрия Подорожного
        %td.b-programm__column
          %p.b-programm__text
            Мастер-класс Льва Иванищева
      %tr.b-programm__row
        %td.b-programm__column{:style=> "width:80px;"}
        %td.b-programm__column{:colspan => 3}
          %p.b-programm__text
            Кроме этого с докладом выступит настоящий ЗАКАЗЧИК, и скажет что он о нас всех думает
      %tr.b-programm__row
        %td.b-programm__column{:style=> "width:80px;"}
        %td.b-programm__column
          %p.b-programm__text
            Данил Снитко - Фейкстивать
          %p.b-programm__text
            Артем Кудзев - Роль личности в разработке



