#carousel.row.carousel.slide
  .carousel-inner
    .item.active
      %article.speaker.span3
        .speaker-avatar
          = image_tag "speakers/filippov.jpg", :class => 'thumbnail'
        %h3.speaker-name
          %a{:href => "http://scrumtrek.ru/company/team/", :target => '_blank'} Никита Филиппов
        %span.speaker-position
          %a{:href => 'http://scrumtrek.ru/', :target => '_blank'} Scrumtrek
        , Москва

      %article.speaker.span3
        .speaker-avatar
          = image_tag "speakers/krivitsky.jpg", :class => 'thumbnail'
        %h3.speaker-name
          %a{:href => "http://resume.krivitsky.com", :target => '_blank'} Алексей Кривицкий
        %span.speaker-position
          %a{:href => 'http://www.scrumguides.com/', :target => '_blank'} Scrum Guides
        , Киев
        / .speaker-bio

      %article.speaker.span3
        .speaker-avatar
          = image_tag "speakers/volkov.jpg", :class => 'thumbnail'
        %h3.speaker-name
          %a{:href => "http://leonidvolkov.ru/obo_mne/", :target => '_blank'} Леонид Волков
        %span.speaker-position Прожектор Венчурз
        , Екатеринбург
        / .speaker-bio

      %article.speaker.span3
        .speaker-avatar
          = image_tag "speakers/pavlova.jpg", :class => 'thumbnail'
        %h3.speaker-name
          %a{:href => "http://www.pavlova.cc/", :target => '_blank'} Ольга Павлова
        %span.speaker-position
          КБ "Собака @Павлова"
        , Питер

    .item
      %article.speaker.span3
        .speaker-avatar
          = image_tag "speakers/podorozhny.jpg", :class => 'thumbnail'
        %h3.speaker-name
          %a{:href => "http://yurypodorozhnyy.moikrug.ru/", :target => '_blank'} Юрий Подорожный
        %span.speaker-position
          %a{:href => "http://www.anyvoid.ru/", :target => '_blank'} Any Void
        , Москва

      %article.speaker.span3
        .speaker-avatar
          = image_tag "speakers/koss.jpg", :class => 'thumbnail'
        %h3.speaker-name
          %a{:href => "http://nocorp.me/", :target => '_blank'} Саша Косс
        %span.speaker-position
          %a{:href => "http://evilmartians.ru/", :target => '_blank'} Evil Martians
        , Омск/Бангкок

      %article.speaker.span3
        .speaker-avatar
          = image_tag "speakers/byndyu.jpg", :class => 'thumbnail'
        %h3.speaker-name
          %a{:href => "http://byndyu.ru/", :target => '_blank'} Александр Бындю
        %span.speaker-position
          %a{:href => "http://soft.byndyu.ru/", :target => '_blank'} Byndyusoft
        , Челябинск

      %article.speaker.span3
        .speaker-avatar
          = image_tag "speakers/chistyakov.jpg", :class => 'thumbnail'
        %h3.speaker-name
          %a{:href => "http://alexclear.moikrug.ru/", :target => '_blank'} Александр Чистяков
        %span.speaker-position
          %a{:href => "http://www.kupikupon.ru/", :target => '_blank'} Купи Купон
        , Питер

    .item
      %article.speaker.span3
        .speaker-avatar
          = image_tag "speakers/sirotkin.jpg", :class => 'thumbnail'
        %h3.speaker-name
          %a{:href => "http://www.telamon.ru/", :target => '_blank'} Яков Сироткин
        %span.speaker-position
          %a{:href => "http://spbau.ru/", :target => '_blank'} СПбАУ, лаборатория алгоритмической биологии
        , Питер
        
      %article.speaker.span3
        .speaker-avatar
          = image_tag "speakers/nepomhyashchih.jpg", :class => 'thumbnail'
        %h3.speaker-name
          %a{:href => "http://anton-nix.livejournal.com/", :target => '_blank'} Антон Непомнящих
        %span.speaker-position
          %a{:href => "http://issart.com/", :target => '_blank'} ИСС-Арт
        , Омск

      %article.speaker.span3
        .speaker-avatar
          = image_tag "speakers/polikarpov.jpg", :class => 'thumbnail'
        %h3.speaker-name
          %a{:href => "http://artpolikarpov.moikrug.ru/", :target => '_blank'} Артем Поликарпов
        %span.speaker-position
          %a{:href => "http://artgorbunov.ru/", :target => '_blank'} Бюро Артема Горбунова
        , Боровичи (Новгородская область)

      %article.speaker.span3
        .speaker-avatar
          = image_tag "speakers/treskin.jpg", :class => 'thumbnail'
        %h3.speaker-name
          %a{:href => "http://maxtreskin.moikrug.ru/", :target => '_blank'} Максим Трескин
        %span.speaker-position
          Metachord
        , Новосибирск
  %a.left.carousel-control{:href => "#carousel", :data => {:slide => "prev"}} &lsaquo;
  %a.right.carousel-control{:href => "#carousel", :data => {:slide => "next"}} &rsaquo;
