.row
  %article.speaker.span3
    .speaker-avatar
      = image_tag "speakers/filippov.jpg", :class => 'thumbnail'
    %h3.speaker-name
      %a{:href => "http://scrumtrek.ru/company/team/"} Никита Филиппов
    %span.speaker-position
      %a{:href => 'http://scrumtrek.ru/'} Scrumtrek
    , Москва

  %article.speaker.span3
    .speaker-avatar
      = image_tag "speakers/krivitsky.jpg", :class => 'thumbnail'
    %h3.speaker-name
      %a{:href => "http://resume.krivitsky.com"} Алексей Кривицкий
    %span.speaker-position
      %a{:href => 'http://www.scrumguides.com/'} Scrum Guides
    , Киев
    / .speaker-bio

  %article.speaker.span3
    .speaker-avatar
      = image_tag "speakers/volkov.jpg", :class => 'thumbnail'
    %h3.speaker-name
      %a{:href => "http://leonidvolkov.ru/obo_mne/"} Леонид Волков
    %span.speaker-position Прожектор Венчурз
    , Екатеринбург
    / .speaker-bio
      
      

  %article.speaker.span3
    .speaker-avatar
      = image_tag "speakers/pavlova.jpg", :class => 'thumbnail'
    %h3.speaker-name
      %a{:href => "http://www.pavlova.cc/"} Ольга Павлова
    %span.speaker-position
      КБ "Собака @Павлова"
    , Питер


  %article.speaker.span3
    .speaker-avatar
      = image_tag "speakers/podorozhny.jpg", :class => 'thumbnail'
    %h3.speaker-name
      %a{:href => "http://yurypodorozhnyy.moikrug.ru/"} Юрий Подорожный
    %span.speaker-position
      %a{:href => "http://www.anyvoid.ru/"} AnyVoid
    , Москва

  %article.speaker.span3
    .speaker-avatar
      = image_tag "speakers/koss.jpg", :class => 'thumbnail'
    %h3.speaker-name
      %a{:href => "http://nocorp.me/"} Саша Косс
    %span.speaker-position
      %a{:href => "http://evilmartians.ru/"} Evil Martians
    , Омск/Тайланд

  %article.speaker.span3
    .speaker-avatar
      = image_tag "speakers/byndyu.jpg", :class => 'thumbnail'
    %h3.speaker-name
      %a{:href => "http://byndyu.ru/"} Александр Бындю
    %span.speaker-position
      %a{:href => "http://soft.byndyu.ru/"} Byndyusoft
    , Челябинск

  %article.speaker.span3
    .speaker-avatar
      = image_tag "speakers/chistyakov.jpg", :class => 'thumbnail'
    %h3.speaker-name
      %a{:href => "http://alexclear.moikrug.ru/"} Александр Чистяков
    %span.speaker-position
      %a{:href => "http://www.kupikupon.ru/"} Купи Купон
    , Питер


-# .row
-#   .span9
-#     %p.ac
-#       А так же другие не менее интересные докладчики из Питера, Челябинска, Новосибирска и, конечно же, Омска
