#carousel.b-reporters__persons.b-reporters__carousel.js-b-reporters__carousel.slide
  .carousel-inner
    - batch_counter = 0
    - Speech.where({ 'speaker2_id' => nil, 'speaker3_id' => nil}).find_in_batches(:batch_size => 4) do |group|
      - batch_counter += 1
      .item.clearfix{:class => batch_counter == 1 ? 'active' : nil}
        - group.each do |speech|
          - speaker = speech.speaker
          - company = speaker.company
          - if speech && company
            .b-reporters__person{:data => { :section => speech.section.name, :specialization => speech.specialization.name }}
              .b-reporters__person-photo
                = image_tag speaker.photo_url, :class => "b-reporters__person-photo-img"
              %h2.b-reporters__person-name
                = speaker.full_name
              %p.b-reporters__person-theme
                %a.b-reporters__person-theme-link{:href => "/speakers/#{speech.permalink}"}
                  = "\&laquo;#{speech.title}&raquo;".html_safe
              %p.b-reporters__person-company
                %a.b-reporters__person-company-link{:href => company.url, :target => '_blank'}>= company.name
                ,
                = speaker.city.name

  %a.b-reporters__carousel-control.carousel-control.left{"data-slide" => "prev", :href => "#carousel"}
  %a.b-reporters__carousel-control.carousel-control.right{"data-slide" => "next", :href => "#carousel"}
