%section#reports.b-reporters.l-page_gap-top_25
  %span.b-reporters__count
    %i.b-reporters__count-number 17
  %h2.b-reporters__title
    Докладчики
  %p.b-reporters__title-text
    На нашей конференции выступят только те докладчики, которые смогут
    %br/
    прежде чем рассказывать &laquo;как&raquo;, рассказать «зачем».
  #carousel.b-reporters__persons.b-reporters__carousel.js-b-reporters__carousel.slide
    .carousel-inner
      -# item
      .item.clearfix.active
        .b-reporters__person
          .b-reporters__person-photo
            = image_tag "speakers/filippov.jpg"
          %h2.b-reporters__person-name
            Никита Филиппов
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Product Owner - самая бессмысленная роль, или как команды совместно создают проекты&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => 'http://scrumtrek.ru/', :target => '_blank'} Scrumtrek
            , Москва

        .b-reporters__person
          .b-reporters__person-photo
            = image_tag "speakers/krivitsky.jpg"
          %h2.b-reporters__person-name
            Алексей Кривицкий
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Новейшая история менеджмента. От эры стагнации к периоду ренессанса&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => 'http://www.scrumguides.com/', :target => '_blank'} Scrum Guides
            , Киев

        .b-reporters__person
          .b-reporters__person-photo
            = image_tag "speakers/volkov.jpg"
          %h2.b-reporters__person-name
            Леонид Волков
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Зачем стартапу деньги?&raquo;
          %p.b-reporters__person-company
            %span.speaker-position Прожектор Венчурз
            , Екатеринбург

        .b-reporters__person
          .b-reporters__person-photo
            = image_tag "speakers/pavlova.jpg"
          %h2.b-reporters__person-name
            Ольга Павлова
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Технологии вовлечения заказчика в процессы визуализации интерфейсов&raquo;
          %p.b-reporters__person-company
            %span.speaker-position КБ "Собака @Павлова"
            , Питер
      -# item
      .item.clearfix
        .b-reporters__person
          .b-reporters__person-photo
            = image_tag "speakers/podorozhny.jpg"
          %h2.b-reporters__person-name
            Юрий Подорожный
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Как мы делали «<a href="http://itunes.apple.com/ru/app/kniga-vsluh/id449818886?mt=8" target='_blank'>Книгу вслух</a>»&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "http://www.anyvoid.ru/", :target => '_blank'} Any Void
            , Москва

        .b-reporters__person
          .b-reporters__person-photo
            = image_tag "speakers/koss.jpg"
          %h2.b-reporters__person-name
            Саша Косс
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Легкий способ бросить писать плохой код&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "http://evilmartians.ru/", :target => '_blank'} Evil Martians
            , Омск/Бангкок

        .b-reporters__person
          .b-reporters__person-photo
            = image_tag "speakers/byndyu.jpg"
          %h2.b-reporters__person-name
            Александр Бындю
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Шаги на пути к созданию IT-компании&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "http://soft.byndyu.ru/", :target => '_blank'} Byndyusoft
            , Челябинск

        .b-reporters__person
          .b-reporters__person-photo
            = image_tag "speakers/chistyakov.jpg"
          %h2.b-reporters__person-name
            Александр Чистяков
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Большой веб-проект: развитие, рост, проблемы, решения с точки зрения отдела эксплуатации&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "http://www.kupikupon.ru/", :target => '_blank'} Купи Купон
            , Питер
      -# item
      .item.clearfix
        .b-reporters__person
          .b-reporters__person-photo
            = image_tag "speakers/sirotkin.jpg"
          %h2.b-reporters__person-name
            Яков Сироткин
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Автобус не придет&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "http://spbau.ru/", :target => '_blank'} СПбАУ, лаборатория алгоритмической биологии
            , Питер

        .b-reporters__person
          .b-reporters__person-photo
            = image_tag "speakers/nepomhyashchih.jpg"
          %h2.b-reporters__person-name
            Антон Непомнящих
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "http://issart.com/", :target => '_blank'} ИСС-Арт
            , Омск

        .b-reporters__person
          .b-reporters__person-photo
            = image_tag "speakers/polikarpov.jpg"
          %h2.b-reporters__person-name
            Артем Поликарпов
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Технолог - тоже дизайнер&raquo;
          %p.b-reporters__person-company
            %a.b-reporters__person-company-link{:href => "http://artgorbunov.ru/", :target => '_blank'} Бюро Артема Горбунова
            , Боровичи (Новгородская область)

        .b-reporters__person
          .b-reporters__person-photo
            = image_tag "speakers/treskin.jpg"
          %h2.b-reporters__person-name
            Максим Трескин
          %p.b-reporters__person-theme
            %a.b-reporters__person-theme-link{:href => "#"}
              \&laquo;Erlyvideo. Why Erly?&raquo;
          %p.b-reporters__person-company
            %span.speaker-position Metachord
            , Новосибирск

    %a.b-reporters__carousel-control.carousel-control.left{"data-slide" => "prev", :href => "#carousel"}
    %a.b-reporters__carousel-control.carousel-control.right{"data-slide" => "next", :href => "#carousel"}
