%section#tikets.b-tikets.l-page_gap-top-out_30
  .l-page_align_center
    %h2.b-tikets__title
      %b.b-tikets__title-left
      %b.b-tikets__title-right
      Билеты
  %p.b-tikets__title-text
    Первая большая IT-конференция в Омске для разработчиков, дизайнеров и менеджеров. Больше, чем
    когда-либо, мы рекомендуем вам приобрести билеты заранее, по хорошей цене и во избежание аншлага.
  .b-tikets__gallery
    #scrollable
      %ul.b-tikets__gallery-nav.navi
        %li.active.b-tikets__gallery-nav-item
          %a.b-tikets__gallery-nav-link 1
        %li.b-tikets__gallery-nav-item
          %a.b-tikets__gallery-nav-link 2
        %li.b-tikets__gallery-nav-item
          %a.b-tikets__gallery-nav-link 3
        %li.b-tikets__gallery-nav-item
          %a.b-tikets__gallery-nav-link 4
        %li.b-tikets__gallery-nav-item
          %a.b-tikets__gallery-nav-link 5
      .b-tikets__gallery-inner.items
        .b-tikets__gallery-item
          = image_tag "blocks/b-tikets/conf-img.png"
        .b-tikets__gallery-item
          = image_tag "blocks/b-tikets/conf-img.png"
        .b-tikets__gallery-item
          = image_tag "blocks/b-tikets/conf-img.png"
        .b-tikets__gallery-item
          = image_tag "blocks/b-tikets/conf-img.png"
        .b-tikets__gallery-item
          = image_tag "blocks/b-tikets/conf-img.png"
  .b-tikets__methods.clearfix
    .b-tikets__method.b-tikets__method_type_earliest
      .b-tikets__link.js-b-tikets__link{:href => "#"}
        %h2.b-tikets__method-title
          Очень раннее бронирование
        .b-tikets__pricing.clearfix
          %span.b-tikets__price-inner
            %i.b-tikets-price
              2200
            %span.b-tikets__rubl-inner
              a
          %span.b-tikets__pricing-date
            До 9 сентября
    .b-tikets__method.b-tikets__method_type_early.b-tikets__method_state_active
      .b-tikets__link.js-b-tikets__link
        %h2.b-tikets__method-title
          Раннее бронирование
        .b-tikets__pricing.clearfix
          %span.b-tikets__price-inner
            %i.b-tikets-price
              2700
            %span.b-tikets__rubl-inner
              a
          %span.b-tikets__pricing-date
            До 16 сентября
        %p.b-tikets__buy
          %a.b-tikets__buy-button{:href => pay_path}
            Купить билет
    .b-tikets__method.b-tikets__method_type_normal
      .b-tikets__link.js-b-tikets__link
        %h2.b-tikets__method-title
          Обычная стоимость билета
        .b-tikets__pricing.clearfix
          %span.b-tikets__price-inner
            %i.b-tikets-price
              3200
            %span.b-tikets__rubl-inner
              a
          %span.b-tikets__pricing-date
          %span.b-tikets__pricing-date
            До 23 сентября
