%section#tikets.b-tikets.l-page_gap-top-out_30
  .l-page_align_center
    %h2.b-tikets__title
      %b.b-tikets__title-left
      %b.b-tikets__title-right
      Билеты
  %p.b-tikets__title-text
    Уникальная IT-конференция в Омске для разработчиков, дизайнеров и менеджеров. Мы рекомендуем вам приобрести билеты заранее, по хорошей цене.
  .b-tikets__gallery
    #scrollable
      %ul.b-tikets__gallery-nav.navi
        %li.active.b-tikets__gallery-nav-item
          %a.b-tikets__gallery-nav-link 1
        %li.b-tikets__gallery-nav-item
          %a.b-tikets__gallery-nav-link 2
        %li.b-tikets__gallery-nav-item
          %a.b-tikets__gallery-nav-link 3
        %li.b-tikets__gallery-nav-item
          %a.b-tikets__gallery-nav-link 4
        %li.b-tikets__gallery-nav-item
          %a.b-tikets__gallery-nav-link 5
      .b-tikets__gallery-inner.items
        .b-tikets__gallery-item
          = image_tag "blocks/b-tikets/conf-img.png"
        .b-tikets__gallery-item
          = image_tag "blocks/b-tikets/conf-img.png"
        .b-tikets__gallery-item
          = image_tag "blocks/b-tikets/conf-img.png"
        .b-tikets__gallery-item
          = image_tag "blocks/b-tikets/conf-img.png"
        .b-tikets__gallery-item
          = image_tag "blocks/b-tikets/conf-img.png"
  .b-tikets__methods.clearfix
    .b-tikets__method.b-tikets__method_type_earliest
      .b-tikets__link.js-b-tikets__link{:href => "#"}
        %h2.b-tikets__method-title
          Очень раннее бронирование
        .b-tikets__pricing.clearfix
          .b-tikets__price-inner
            .b-price.b-price_type_earliest
              %i.b-price__number
                2200
              %span.b-price__rubl
                a
          %span.b-tikets__pricing-date
            До 9 сентября
        .b-tikets__content
          %p.b-tikets__content-title
            В стоимость участия входит:
          %ul.b-tikets__content-list
            %li.b-tikets__content-item
              Все то же самое
            %li.b-tikets__content-item
              Плюс благодарность от организаторов за доверие
    .b-tikets__method.b-tikets__method_type_early.b-tikets__method_state_active
      .b-tikets__link.js-b-tikets__link
        %h2.b-tikets__method-title
          Раннее бронирование
        .b-tikets__pricing.clearfix
          .b-tikets__price-inner
            .b-price.b-price_type_early
              %i.b-price__number
                2700
              %span.b-price__rubl
                a
          %span.b-tikets__pricing-date
            До 16 сентября
        .b-tikets__content
          %p.b-tikets__content-title
            В стоимость участия входит:
          %ul.b-tikets__content-list
            %li.b-tikets__content-item
              Офигенные доклады на 3-х секциях;
            %li.b-tikets__content-item
              Полезные знакомства и интересные собеседники;
            %li.b-tikets__content-item
              Масса озарений и полезных практик на каждый день;
            %li.b-tikets__content-item
              Возможность пообщаться с докладчиками в неформальной обстановке;
            %li.b-tikets__content-item
              Кофе, чай, сладости и солености в течение всего дня.
        %p.b-tikets__buy
          -if current_user
            %a.b-tikets__buy-button{:href => pay_path}
              Купить билет
          -else
            %a.b-tikets__buy-button{:href => new_user_registration_path}
              Купить билет
    .b-tikets__method.b-tikets__method_type_normal
      .b-tikets__link.js-b-tikets__link
        %h2.b-tikets__method-title
          Полная стоимость билета
        .b-tikets__pricing.clearfix
          .b-tikets__price-inner
            .b-price.b-price_type_normal
              %i.b-price__number
                3200
              %span.b-price__rubl
                a
          %span.b-tikets__pricing-date
            До 23 сентября
        .b-tikets__content
          %p.b-tikets__content-title
            В стоимость участия входит:
          %ul.b-tikets__content-list
            %li.b-tikets__content-item
              Все то же самое
            %li.b-tikets__content-item
              Плюс благодарность от организаторов за дополнительную поддержку
