.l-page_width_page.l-page_gap-bottom_50
  = render :partial => 'layouts/logo'
  = render :partial => 'about'
.l-page_bg_white.l-page_gap-bottom_25
  .l-page_width_page
    = render :partial => 'speakers'
.l-page_width_page.l-page_gap-top_25
  %section.b-members.clearfix
    %h2.b-members__title
      %span.b-members__title-small
        Компанию составят
      %span.b-members__title-big
        Сотрудники
    .b-members__logos
      #carousel-logos.b-members__carousel.slide
        .carousel-inner
          .item.active
            = image_tag "blocks/b-members/hh-logo.png", :class => 'b-members__logo', :alt => "Habrahabr"
            = image_tag "blocks/b-members/revision-logo.png", :class => 'b-members__logo', :alt => "Revision"
            = image_tag "blocks/b-members/dominion-logo.png", :class => 'b-members__logo', :alt => "Студия Доминион"
            = image_tag "blocks/b-members/cms-magazine-logo.png", :class => 'b-members__logo', :alt => "CMS magazine"
          .item
            = image_tag "blocks/b-members/hh-logo.png", :class => 'b-members__logo', :alt => "Habrahabr"
            = image_tag "blocks/b-members/revision-logo.png", :class => 'b-members__logo', :alt => "Revision"
            = image_tag "blocks/b-members/dominion-logo.png", :class => 'b-members__logo', :alt => "Студия Доминион"
            = image_tag "blocks/b-members/cms-magazine-logo.png", :class => 'b-members__logo', :alt => "CMS magazine"
          .item
            = image_tag "blocks/b-members/hh-logo.png", :class => 'b-members__logo', :alt => "Habrahabr"
            = image_tag "blocks/b-members/revision-logo.png", :class => 'b-members__logo', :alt => "Revision"
            = image_tag "blocks/b-members/dominion-logo.png", :class => 'b-members__logo', :alt => "Студия Доминион"
            = image_tag "blocks/b-members/cms-magazine-logo.png", :class => 'b-members__logo', :alt => "CMS magazine"
        %a.b-members__carousel-control.carousel-control.left{"data-slide" => "prev", :href => "#carousel-logos"}
        %a.b-members__carousel-control.carousel-control.right{"data-slide" => "next", :href => "#carousel-logos"}
  %section.clearfix.b-speaking
    .b-speaking__title-inner
      %h2.b-speaking__title
        Говорят
    .b-comments
      .b-comments__comment.clearfix
        .b-comments__person.clearfix
          .b-comments__person-photo
            = image_tag "blocks/b-comments/person-1.png", :class => 'b-comments__person-img', :alt => "Сергей Бережной"
            %span.b-comments__person-frame
          .b-comments__content
            %h2.b-comments__person-name
              Сергей Бережной
            %p.b-comments__person-url
              %a.b-comments__person-url-link{:href => "http://anotherpm.com"}
                anotherpm.com
            %p.b-comments__text
              Да, довольно интересное событие, которое ищет свою нишу в рынке конференций и
              идей. Приятно удивляет то, что вы хотите сделать конфу практичной, а не
              \&laquo;популистской&raquo;, Это замечательное решение, которого давно ждет рынок:)
        .b-comments__person.clearfix
          .b-comments__person-photo
            = image_tag "blocks/b-comments/person-2.png", :class => 'b-comments__person-img', :alt => "Сергей Бережной"
            %span.b-comments__person-frame
          .b-comments__content
            %h2.b-comments__person-name
              Дмитрий Проворотов
            %p.b-comments__person-url
              %a.b-comments__person-url-link{:href => "http://factory.mn"}
                factory.mn
            %p.b-comments__text
              У вас очень крутой подход к реализации и ваше письмо с пожеланиями по теме и
              структуре выступления просто покорило меня. Успеха вам!
              Уверен, у вас все получится отлично!
    .b-twitter
      %h2.b-twitter__title
        \#HappyDev
      = image_tag "blocks/b-twitter/twitter.png", :class => 'b-twitter__image', :alt => "#HappyDev"
  = render :partial => 'tickets'
  = render :partial => 'program'
  = render :partial => 'place'
  = render :partial => 'orgs_and_sponsors'
= render :partial => 'layouts/footer'
