= javascript_include_tag 'scrollspy'
= javascript_include_tag 'scroll'

.l-page_width_page.l-page_gap-bottom_25
  = render :partial => 'layouts/logo'
.l-page_bg_white.l-page_gap-top_5
  .l-page_width_page
    = render :partial => 'speakers'
.l-page_width_page
  = render :partial => 'about'
  = render :partial => 'program'
  = render :partial => 'tickets'
  = render :partial => 'place'
  = render :partial => 'members'
  = render :partial => 'comments'
  = render :partial => 'orgs_and_sponsors'
