.l-page_width_page
  = render :partial => 'layouts/logo'
  .l-page_gap-top-out_50.l-page_gap-bottom-out_40
    .l-page_align_center.b-title__line.js-title
      .b-title__inner
        %h2.b-title
          Докладчики
  .clearfix
    .l-page_float_left.l-page_width_220{:style => 'width: 220px'}
      %ul#fixedBox.b-filter.b-filter_type_vert.js-b-filter_type_vert.clearfix
        = render :partial => 'filter_speakers'
    .l-page_float_right.l-page_width_710{:style => 'width: 710px'}

      .b-reporters__persons.b-reporters__persons_type_all.clearfix
        - batch_counter = 0
        - Speaker.without_training_masters.in_groups_of(4) do |group|
          - batch_counter += 1
          .item
            - group.compact.each do |speaker|
              - speeches = speaker.speeches.without_startup_battles.without_master_classes 
              - if speeches.empty?
                - speeches = speaker.secondary_speeches.without_startup_battles.without_master_classes
              - company = speaker.company
              - if speeches && company
                .b-reporters__person
                  .b-reporters__person-photo
                    = image_tag speaker.photo_url, :class => "b-reporters__person-photo-img"
                  %h2.b-reporters__person-name
                    = speaker.full_name
                  - speeches.each do |speech|
                    .b-reporters__person-theme
                      .js-spec
                        %ul.b-icon.b-icon_type_into-carousel
                          %li.b-icon__item
                            - if speech.specialization
                              %span.b-icon__icon{:class => 'b-icon__icon_' + icon_for_speakers(speech, :general => true) + '-s'}
                          - if speech.specialization2 && speech.section.name != "Общий"
                            %li.b-icon__item
                              %span.b-icon__icon{:class => 'b-icon__icon_' + icon_for_speakers(speech, :second => true) + '-s'}
                        = link_for_speech speech
                  %p.b-reporters__person-company
                    %a.b-reporters__person-company-link{:href => company.url, :target => '_blank'}>= company.name
                    ,
                    = speaker.city.name
