- title "Студентам"

.l-page_width_page
  = render :partial => 'layouts/logo'
  .l-page_gap-top-out_50.l-page_gap-bottom-out_40
    .l-page_align_center.b-title__line
      .b-title__inner
        %h2.b-title
          Студентам
  .clearfix
    .l-page_float_right.l-page_width_645
      %h1.b-content__title
        Дорогие студенты старших курсов!
  .clearfix
    .l-page_float_left.l-page_width_280
      .l-page_width_250
        %p.b-content__text.l-page_gap-bottom-out_30
          %h3.b-content__title.b-content__title_type_small
            Стоимость участия
          %p.b-content__text.l-page_width_230
            Цена сегодня:
            %b.b-content__price.l-page_float_right
              500
              %span.b-price__rubl.b-price__rubl_type_black
                a
          %p.b-content__text.l-page_width_230
            + вкусный горячий обед
            %b.b-content__price.l-page_float_right
              350
              %span.b-price__rubl.b-price__rubl_type_black
                a

          %p.l-page_align_center
            = link_to 'Купить билет', pay_path(:student => true), :class => 'b-button'


          .b-speaking.b-speaking_style_green
            .b-speaking__title-inner
              %h2.b-speaking__title
                Халява
            %p.b-content__text
              Три автора самых стоящих ответов на
              %a.b-link{:href => 'http://tinyurl.com/happydev-2012'} эти вопросы
              смогут попасть на конференцию бесплатно! (ответы принимаются до вторника 25 сентября)
    .l-page_float_right.l-page_width_645
      .b-content
        %p.b-content__text
          Специально для вас мы готовим дополнительный поток, поскольку не все доклады на основных секциях будут вам
          интересны - все-таки они расчитаны на специалистов с опытом. Поэтому представители компаний &dash;
          как омских, так и иногородних - выступят в отдельном студенческом потоке.
        %p.b-content__text
          %b
            О чем вы там узнаете?

        %ul.b-content__list
          %li.b-content__list-item
            о ценности высшего образования с точки зрения работодателя
          %li.b-content__list-item
            о том, какие направления ИТ сейчас наиболее перспективны
          %li.b-content__list-item
            о самообразовании
          %li.b-content__list-item
            как стать действительно востребованным специалистом
          %li.b-content__list-item
            какие спецкурсы в каких вузах проводятся
          %li.b-content__list-item
            где в Омске можно пройти стажировку
        %p.b-content__text
          Все, кто будут выступать, являются представителями компаний вплоть до владельцев, успешными фрилансерами,
          преподавателями вузов, совмещающих эту деятельность с работой в ИТ-компании. Эти люди знают рынок ИТ в Омске и за его пределами не по наслышке.
        / %p.b-content__text
        /   Стоимость участия в конференции для неработающего студента - от 0 до 750 рублей. Еще за 350 рублей вас
        /   накормят вкусным горячим обедом.

        %p.b-content__text
          %b
            Доклады специально для вас:
        %ul.b-content__list
          %li.b-content__list-item
            %span.b-content__list-item__title Как учёба в универе и олимпиады не сделали мою жизнь хуже.
            %span.b-content__list-item__speaker
              = succeed ',' do
                = link_to "Годовых Олег", "http://olegg.moikrug.ru/", :target => "_blank"
              = link_to "Noveo", "http://noveogroup.ru/", :target => "_blank"
          %li.b-content__list-item
            %span.b-content__list-item__title Обучение и самообучение.
            %span.b-content__list-item__speaker
              = succeed ',' do
                = link_to "Подгурский Михаил", "http://kmmbvnr.moikrug.ru/", :target => "_blank"
              Freelance
          %li.b-content__list-item
            %span.b-content__list-item__title Школа Джедая: как сделать из студента программиста.
            %span.b-content__list-item__speaker
              = succeed ',' do
                = link_to "Крамарова Татьяна", "http://t-kramarova.moikrug.ru/", :target => "_blank"
              = link_to "ИСС Арт", "http://issart.ru/", :target => "_blank"
          %li.b-content__list-item
            %span.b-content__list-item__title Карьера в IT.
            %span.b-content__list-item__speaker
              = succeed ',' do
                = link_to "Бындю Александр", "http://abyindyu.moikrug.ru/", :target => "_blank"
              = link_to "ByndyuSoft", "http://soft.byndyu.ru/", :target => "_blank"
