- title "Легкий способ бросить писать плохой код - Александр Косс"

.l-page_width_page
  = render :partial => 'layouts/logo'
  .b-speaker
    %h1.b-speaker__theme-title.l-page_align_center
      Легкий способ бросить писать плохой код
    .b-time.l-page_align_center
      %span.b-time__icon
      %span.b-time__text.b-time__text_type_with-gap-out
        15:05 - 15:50
      %span.b-time__text
        Главный зал
    %p.b-speaker__theme-about.l-page_align_center
      Доклад посвящен всем сомневающимся в эффективности BDD.
      Автор расскажет вам о своем опыте использования этой техники 
      в разработке как Open Source, так и коммерческих проектов.
      
    .b-speaker__report-info.clearfix
      .b-speaker__left.l-page_float_left
        .b-speaker__photo
          = image_tag 'speakers/koss.jpg', :class => 'b-speaker__img'
        %h2.b-speaker__title.b-speaker__title_type_normal
          Александр Косс
        %p.b-speaker__text.b-speaker__text_type_gray
          %a.b-reporters__person-company-link{:href => 'http://evilmartians.ru/', :target => '_blank'}> Злые марсиане
          , Бангкок
        .b-speaker__text
          %a.b-speaker__link{:href => 'http://koss.nocorp.me/', :target => '_blank'}
            http://koss.nocorp.me/
        %ul.b-speaker__likes.clearfix
          %li.b-speaker__likes-item
            %a.b-speaker__likes-link.b-speaker__likes-link_icon_twitter{:href => 'https://twitter.com/kossnocorp', :target => '_blank'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_vk{:href => '#', :target => '_blank'}
          %li.b-speaker__likes-item
            %a.b-speaker__likes-link.b-speaker__likes-link_icon_fb{:href => 'http://www.facebook.com/kossnocorp', :target => '_blank'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_hh{:href => '#'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_flamp{:href => '#', :target => '_blank'}
      .b-speaker__right.l-page_float_right
        %h2.b-speaker__title
          О докладчике
        %ul.b-speaker__list
          %li.b-speaker__list-item
            Сотрудник компании Злые Марсиане (Groupon, РЕН-ТВ, Wannafun)
          %li.b-speaker__list-item
            Автор коммитов в Ruby on Rails, Zepto.js и другие проекты с открытым исходным кодом.
          %li.b-speaker__list-item
            Инструктор по фронт-енду на мастер-классе по разработке на Ruby on Rails, Brainwashing.
            
        %p.b-speaker__text
          В настоящее время живет в Южной Азии (в данный момент — Бангкок, Таиланд).
        %h2.b-speaker__title
          Описание
        %p.b-speaker__text
          Этот доклад посвящен всем сомневающимся в эффективности BDD.
          Автор расскажет вам о своем опыте использования этой техники
          в разработке как Open Source, так и коммерческих проектов.
        %p.b-speaker__text
          Этот доклад для вас, если вы:
        %ul.b-speaker__list
          %li.b-speaker__list-item
            интересуетесь темой TDD/BDD
          %li.b-speaker__list-item
            хотите улучшить качество вашего кода
          %li.b-speaker__list-item
            не знаете, как расшифровывается TDD/BDD.
        .b-speaker__invite.clearfix
          %span.b-speaker__invite-title.l-page_float_left
            Пригласите друзей
          .b-speaker__invite-likes.l-page_float_left.social-panel
            = render :partial => 'layouts/social_links_panel'
        -# %h2.b-speaker__title
        -#   Презентация
        -# .b-speaker__presentation
        -#   = image_tag 'blocks/b-speaker/present.png'
        -# %h2.b-speaker__title
        -#   Видео доклада
        -# .b-speaker__video
        -#   = image_tag 'blocks/b-speaker/vimeo.png'
        %h2.b-speaker__title
          Комментарии
        .b-speaker__presentation
          = render :partial => 'pages/disqus'

  = render :partial => 'home/speakers_carousel'
