.l-page_width_page
  = render :partial => 'layouts/logo'
  .b-speaker
    %h1.b-speaker__theme-title.l-page_align_center
      Любовь и честность в интерфейсах
    .b-time.l-page_align_center
      %span.b-time__icon
      %span.b-time__text.b-time__text_type_with-gap-out
        15:05 - 15:50
      %span.b-time__text
        Синий зал
    %p.b-speaker__theme-about.l-page_align_center
      Часто в наших системах не хватает любви и простого, теплого,
      человеческого отношения. Давайте же добавим его вместе с вами
    .b-speaker__report-info.clearfix
      .b-speaker__left.l-page_float_left
        .b-speaker__photo
          = image_tag 'speakers/kudymov.jpg', :class => 'b-speaker__img', :alt => "Александр Кудымов"
        %h2.b-speaker__title.b-speaker__title_type_normal
          Александр Кудымов
        %p.b-speaker__text.b-speaker__text_type_gray
          %a.b-reporters__person-company-link{:href => 'http://www.skbkontur.ru/', :target => '_blank'}> СКБ Контур
          , Екатеринбург
        .b-speaker__text
          %a.b-speaker__link{:href => 'http://kudyimovaleksandr.moikrug.ru/', :target => '_blank'}
            http://kudyimovaleksandr.moikrug.ru/
        %ul.b-speaker__likes.clearfix
          %li.b-speaker__likes-item
            %a.b-speaker__likes-link.b-speaker__likes-link_icon_twitter{:href => 'http://twitter.com/dwht', :target => '_blank'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_vk{:href => '#', :target => '_blank'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_fb{:href => '#', :target => '_blank'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_hh{:href => '#', :target => '_blank'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_flamp{:href => '#', :target => '_blank'}
      .b-speaker__right.l-page_float_right
        %h2.b-speaker__title
          О докладчике
        %p.b-speaker__text
          СКБ Контур, Проектировщик интерфейсов, участник проекта "Электронный бухгалтер Эльба"
        %p.b-speaker__text
          Имеет опыт:
        %ul.b-speaker__list
          %li.b-speaker__list-item
            проектирования интерфейсов крупной системы со сложной предметной областью.
          %li.b-speaker__list-item
            преподавания проектирования пользовательских интерфейсов.
          %li.b-speaker__list-item
            аджайл-коачинга команды.
        %h2.b-speaker__title
          Описание
        %p.b-speaker__text
          <b>Прямая речь:</b> "В своем докладе я хочу рассказать о том как сделать систему другом и просто 
          приятным собеседником. Сделать так, чтобы пользователь не просто работал в нашей системе, а 
          доверял ей как другу, чтобы он мог рассказать ей о своих проблемах и полюбил ее всем сердцем."
        .b-speaker__invite.clearfix
          %span.b-speaker__invite-title.l-page_float_left
            Пригласите друзей
          .b-speaker__invite-likes.l-page_float_left.social-panel
            = render :partial => 'layouts/social_links_panel'
        -# %h2.b-speaker__title
        -#   Презентация
        -# .b-speaker__presentation
        -#   = image_tag 'blocks/b-speaker/present.png'
        -# %h2.b-speaker__title
        -#   Видео доклада
        -# .b-speaker__video
        -#   = image_tag 'blocks/b-speaker/vimeo.png'
        %h2.b-speaker__title
          Комментарии
        .b-speaker__presentation
          = render :partial => 'pages/disqus'

  = render :partial => 'home/speakers_carousel'
