- title "Технолог - тоже дизайнер. Артем Поликапов"
.l-page_width_page
  = render :partial => 'layouts/logo'
  .b-speaker
    %h1.b-speaker__theme-title.l-page_align_center
      Технолог - тоже дизайнер
    .b-time.l-page_align_center
      %span.b-time__icon
      %span.b-time__text.b-time__text_type_with-gap-out
        10:50 - 11:10
      %span.b-time__text
        Главный зал
    %p.b-speaker__theme-about.l-page_align_center
      Дизайн не кончается на картинках. После того, как макет накарамелен до блеска в фотошопе,
      всё ещё остается куча проблем. В процессе вёрстки и прикрутки сайта дизайнерские решения 
      принимаются постоянно, в том числе и технологом.
    .b-speaker__report-info.clearfix
      .b-speaker__left.l-page_float_left
        .b-speaker__photo
          = image_tag 'speakers/polikarpov.jpg', :class => 'b-speaker__img', :alt => "Артем Поликапов"
        %h2.b-speaker__title.b-speaker__title_type_normal
          Артем Поликапов
        %p.b-speaker__text.b-speaker__text_type_gray
          %a.b-reporters__person-company-link{:href => 'http://artgorbunov.ru/', :target => '_blank'}> Бюро Артема Горбунова
          , Боровичи
        .b-speaker__text
          %a.b-speaker__link{:href => 'http://artpolikarpov.moikrug.ru/', :target => '_blank'}
            http://artpolikarpov.moikrug.ru/
        %ul.b-speaker__likes.clearfix
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_twitter{:href => 'http://twitter.com/see_yu/', :target => '_blank'}
          %li.b-speaker__likes-item
            %a.b-speaker__likes-link.b-speaker__likes-link_icon_vk{:href => 'http://vkontakte.ru/id594906', :target => '_blank'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_fb{:href => '#', :target => '_blank'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_hh{:href => '#', :target => '_blank'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_flamp{:href => '#', :target => '_blank'}
      .b-speaker__right.l-page_float_right
        %h2.b-speaker__title
          О докладчике
        %ul.b-speaker__list
          %li.b-speaker__list-item
            Дизайн-бюро Артема Горбунова, Ведущий технолог
          %li.b-speaker__list-item
            Даёт еженедельные советы о разработке веб-интерфейсов:
            %a.b-link{:href => 'http://artgorbunov.ru/bb/soviet/polikarpov-mitin', :target => '_blank'} http://artgorbunov.ru/bb/soviet/polikarpov-mitin
          %li.b-speaker__list-item
            Работал над проектом «Запринтуй»:
            %a.b-link{:href => 'http://zaprintui.ru/', :target => '_blank'} http://zaprintui.ru/
        %h2.b-speaker__title
          Описание
        %p.b-speaker__text
          Технолог — тоже дизайнер. В докладе показано 7 ситуаций, в которых это очевиднее всего:
        %ul.b-speaker__list
          %li.b-speaker__list-item
            Деградации
          %li.b-speaker__list-item
            Рыба
          %li.b-speaker__list-item
            Константинопольский
          %li.b-speaker__list-item
            Анимации
          %li.b-speaker__list-item
            Дорисовка
          %li.b-speaker__list-item
            Трюки
          %li.b-speaker__list-item
            Яйца
        .b-speaker__invite.clearfix
          %span.b-speaker__invite-title.l-page_float_left
            Пригласите друзей
          .b-speaker__invite-likes.l-page_float_left.social-panel
            = render :partial => 'layouts/social_links_panel'
        -# %h2.b-speaker__title
        -#   Презентация
        -# .b-speaker__presentation
        -#   = image_tag 'blocks/b-speaker/present.png'
        -# %h2.b-speaker__title
        -#   Видео доклада
        -# .b-speaker__video
        -#   = image_tag 'blocks/b-speaker/vimeo.png'
        %h2.b-speaker__title
          Комментарии
        .b-speaker__presentation
          = render :partial => 'pages/disqus'

  = render :partial => 'home/speakers_carousel'
