- title "Война миров: хипстеры против Enterprise - Анна Тарасенко"

.l-page_width_page
  = render :partial => 'layouts/logo'
  .b-speaker
    %h1.b-speaker__theme-title.l-page_align_center
      Война миров: хипстеры против Enterprise
    .b-time.l-page_align_center
      %span.b-time__icon
      %span.b-time__text.b-time__text_type_with-gap-out
        16:00 - 16:20
      %span.b-time__text
        Главный зал
    %p.b-speaker__theme-about.l-page_align_center
      Автор расскажет как можно убить двух зайцев, совместив мощь 
      Java Enterprise и гибкость Rails-подобных фреймворков для
      веб-разработки на примере проекта, в котором принимает участие ее команда.
    .b-speaker__report-info.clearfix
      .b-speaker__left.l-page_float_left
        .b-speaker__photo
          = image_tag 'speakers/tarasenko_150px.png', :class => 'b-speaker__img', :alt => "Анна Тарасенко"
        %h2.b-speaker__title.b-speaker__title_type_normal
          %a.b-speaker__link{:href => 'http://tarasenkoanna2.moikrug.ru/', :target => '_blank'}
            Анна Тарасенко
        %p.b-speaker__text.b-speaker__text_type_gray
          %a.b-reporters__person-company-link{:href => 'http://7bits.it', :target => '_blank'}> 7bits
          , Омск
        %ul.b-speaker__likes.clearfix
          %li.b-speaker__likes-item
            %a.b-speaker__likes-link.b-speaker__likes-link_icon_twitter{:href => 'http://twitter.com/AnnieOmsk', :target => '_blank'}
          %li.b-speaker__likes-item
            %a.b-speaker__likes-link.b-speaker__likes-link_icon_vk{:href => 'http://vk.com/id10076984', :target => '_blank'}
          %li.b-speaker__likes-item
            %a.b-speaker__likes-link.b-speaker__likes-link_icon_fb{:href => 'http://www.facebook.com/anna.tarasenko.351', :target => '_blank'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_hh{:href => '#', :target => '_blank'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_flamp{:href => '#', :target => '_blank'}
      .b-speaker__right.l-page_float_right
        %h2.b-speaker__title
          О докладчике
        %p.b-speaker__text
          7bits, Основатель
        %p.b-speaker__text
          Пишет на Java, Grails.
        %p.b-speaker__text
          В течение 4 лет преподавала в ОмГУ основы программирования на 1-м курсе математического факультета.
        %p.b-speaker__text
          С 2009 года ведёт годовой спецкурс "Современные практики разработки программного обеспечения" в ОмГУ
        %p.b-speaker__text
          С 2012 года проводит занятия в Школе программиста, 7-8 класс
        %p.b-speaker__text
          Организовывает конференции и неформальные IT-встречи. Инициатор создания сообщества OmskJS.
          
        %h2.b-speaker__title
          Описание
        %p.b-speaker__text
          Всем известны два различных подхода к промышленной разработке веб-приложений - Enterprise (Java, C#)
          и подход динамических языков (Ruby, Python, PHP), основанный на использовании фреймворков. 
          Каждый подход предлагает свою инфраструктуру для построения приложений, однако первый чаще используется
          для приложений со сложным бэкендом, а второй - для быстрого построения приложений со сложным фронтэндом. 
          Однако жизнь идет, и в приложениях, изначально задуманных как простые со стороны бэкенда, начинают появляться
          очереди задач, многопоточность, они требуют горизонтальной масштабируемости, растут объемы данных,
          которые обрабатываются на стороне сервера приложений и т.д. В Enterprise приложениях в свою очередь начинают 
          появляться требования по Rich UI, заказчики требуют быстрого прототипирования интерфейсов, что требует
          создания прототипа на другой платформе и приводит к работе в корзину. Частенько перед разработчиками встает 
          суровый выбор - какую платформу все-таки использовать? Чем пожертвовать - скоростью разработки или перфомансом? 
          Стоит ли менять профиль, если я всю жизнь изучал технологии Java? Автор поделится свежим опытом решения подобной 
          проблемы на примере проекта, в котором принимает участие ее команда.
        .b-speaker__invite.clearfix
          %span.b-speaker__invite-title.l-page_float_left
            Пригласите друзей
          .b-speaker__invite-likes.l-page_float_left.social-panel
            = render :partial => 'layouts/social_links_panel'
        -# %h2.b-speaker__title
        -#   Презентация
        -# .b-speaker__presentation
        -#   = image_tag 'blocks/b-speaker/present.png'
        -# %h2.b-speaker__title
        -#   Видео доклада
        -# .b-speaker__video
        -#   = image_tag 'blocks/b-speaker/vimeo.png'
        %h2.b-speaker__title
          Комментарии
        .b-speaker__presentation
          = render :partial => 'pages/disqus'

  = render :partial => 'home/speakers_carousel'
