- title "Зачем стартапу деньги? - Леонид Волков"

.l-page_width_page
  = render :partial => 'layouts/logo'
  .b-speaker
    %h1.b-speaker__theme-title.l-page_align_center
      Зачем стартапу деньги?
    .b-time.l-page_align_center
      %span.b-time__icon
      %span.b-time__text.b-time__text_type_with-gap-out
        15:05 - 15:50
      %span.b-time__text
        Зеленый зал
    %p.b-speaker__theme-about.l-page_align_center
      Доклад посвящен ключевым параметрам работы венчурного бизнеса как финансовой отрасли - 
      в тех пределах, в которых обязан ориентироваться каждый стартапер
    .b-speaker__report-info.clearfix
      .b-speaker__left.l-page_float_left
        .b-speaker__photo
          = image_tag 'speakers/volkov.jpg', :class => 'b-speaker__img', :alt => "Леонид Волков"
        %h2.b-speaker__title.b-speaker__title_type_normal
          Леонид Волков
        %p.b-speaker__text.b-speaker__text_type_gray
          Прожектор Венчурз, Екатеринбург
        .b-speaker__text
          %a.b-speaker__link{:href => 'http://leonidvolkov.ru/obo_mne/', :target => '_blank'}
            http://leonidvolkov.ru/obo_mne/
        %ul.b-speaker__likes.clearfix
          %li.b-speaker__likes-item
            %a.b-speaker__likes-link.b-speaker__likes-link_icon_twitter{:href => 'http://twitter.com/leonidvolkov', :target => '_blank'}
          %li.b-speaker__likes-item
            %a.b-speaker__likes-link.b-speaker__likes-link_icon_vk{:href => 'http://vkontakte.ru/id4051048', :target => '_blank'}
          %li.b-speaker__likes-item
            %a.b-speaker__likes-link.b-speaker__likes-link_icon_fb{:href => 'http://www.facebook.com/profile.php?id=100000379272171', :target => '_blank'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_hh{:href => '#', :target => '_blank'}
          -# %li.b-speaker__likes-item
          -#   %a.b-speaker__likes-link.b-speaker__likes-link_icon_flamp{:href => '#', :target => '_blank'}
      .b-speaker__right.l-page_float_right
        %h2.b-speaker__title
          О докладчике
        %p.b-speaker__text
          Проработал почти 12 лет в фирме "СКБ Контур", которая сейчас является одной из пяти крупнейших софтверных компаний в России.
        %p.b-speaker__text
          Основал компанию "Прожектор Венчурз"
        %p.b-speaker__text
          Главное направление профессиональной деятельности - посевное финансирование и выращивание ИТ-стартапов
        %p.b-speaker__text
          С 1 марта 2009 года является депутатом Екатеринбургской городской Думы.
        %h2.b-speaker__title
          Описание
        %p.b-speaker__text
          "Инстаграм стоит миллиард баксов? Да чему там столько стоить?" - возмущался едва не каждый, 
          а каждый второй при этом думал про себя: "Вот мой проект - это действительно стоящая вещь". 
          %br
          Наверняка! Но в мире есть много других проектов, которые точно миллиарда не стоят - 
          и в докладе речь пойдет о том, почему это так. 
        %p.b-speaker__text
          Многие цифры, которые звучат в связи с деятельностью венчурных фондов, вызывают недоумение или усмешки -
          они кажутся то очень завышенными, то очень заниженными, и уж точно, в любом случае, абсолютно взятыми с потолка. 
        %p.b-speaker__text
          На самом деле это не так: венчурная отрасль, как и любая другая финансовая отрасль,
          управляется небольшим набором очень жестко заданных параметров, выход за пределы которых ничего
          хорошего не сулит, как это проверено столетней уже практикой. И эти финансовые параметры стартапер должен знать и понимать:
          только тогда он сможет адекватно заниматься фандрайзингом для своего стартапа, на разных стадиях развития проекта обращаясь
          в подходящие финансовые институты, и получая финансирование в необходимых объемах и на правильных условиях"
        .b-speaker__invite.clearfix
          %span.b-speaker__invite-title.l-page_float_left
            Пригласите друзей
          .b-speaker__invite-likes.l-page_float_left.social-panel
            = render :partial => 'layouts/social_links_panel'
        -# %h2.b-speaker__title
        -#   Презентация
        -# .b-speaker__presentation
        -#   = image_tag 'blocks/b-speaker/present.png'
        -# %h2.b-speaker__title
        -#   Видео доклада
        -# .b-speaker__video
        -#   = image_tag 'blocks/b-speaker/vimeo.png'
        %h2.b-speaker__title
          Комментарии
        .b-speaker__presentation
          = render :partial => 'pages/disqus'

  = render :partial => 'home/speakers_carousel'
