%style{:type => 'text/css'}
  :plain
    .b-programm__icon, .b-programm__icon-b {
          float: left;
          margin: -2px 10px 0 0;
      }
      
      .b-programm__icon-b {
          width: 20px;
          height: 20px;
          background: image-url('blocks/b-programm/icons.png');
      }
      .b-programm__icon-b_icon_register {
          background-position: 0 -40px;
      }
      .b-programm__icon-b_icon_opening {
          background-position: -40px -20px;
      }
      .b-programm__icon-b_icon_lunch {
          background-position: 0 0;
      }
      .b-programm__icon-b_icon_porka {
          background-position: -40px 0;
      }
      .b-programm__icon-b_icon_cofee-break {
          background-position: -20px 0;
      }
      .b-programm__icon-b_icon_end {
          background-position: 0 -20px;
      }

- if speech
  - speaker = speech.speaker
  - speaker2 = speech.speaker2

  %ul.b-icon.b-icon_type_vert
    %li.b-icon__item
      %span.b-icon__icon{:class => 'b-icon__icon_' + icon_for_speakers(speech, :program => true)}

    - if speech.specialization2 && speech.section.name != "Общий"
      %li.b-icon__item
        %span.b-icon__icon{:class => 'b-icon__icon_' + icon_for_speakers(speech, :second => true)}
    %span.b-programm__like-icon{:'data-speech-id' => speech.id}
  %div{:style => "display:table;"}
    %p.b-programm__text
      - if speech.ne_porka?
        - speech.speakers.each do |speaker|
          = "#{speaker.full_name}, "
          %span.b-programm__company
            = speaker.company.name
      - else
        = speech.all_speakers_names
      
    %p.b-programm__theme
      %a.b-programm__theme-link{:href => "/speakers/#{speech.permalink}"}
        = speech.title
    = render :partial => "speeches/speaker_popup", :locals => {:speech => speech, :speaker => speaker, :speaker2 => speaker2, :second_day => false}
- else
  Уточняется
