- if speech
  - speaker = speech.speaker

  %ul.b-icon.b-icon_type_vert
    %li.b-icon__item
      %span.b-icon__icon{:class => 'b-icon__icon_' + icon_for_speakers(speech, :program => true)}

    - if speech.specialization2 && speech.section.name != "Общий"
      %li.b-icon__item
        %span.b-icon__icon{:class => 'b-icon__icon_' + icon_for_speakers(speech, :second => true)}
    %span.b-programm__like-icon{:'data-speech-id' => speech.id}
  %div{:style => "display:table;"}
    %p.b-programm__text
      - if speech.has_one_speaker?
        = "#{speaker.full_name}, "
        %span.b-programm__company
          = speaker.company.name
      - else
        = speech.all_speakers_names
      
    %p.b-programm__theme
      %a.b-programm__theme-link{:href => "/speakers/#{speech.permalink}"}
        = speech.title
    = render :partial => "speeches/speaker_popup", :locals => {:speech => speech, :speaker => speaker, :second_day => false}
- else
  Уточняется
