-# = javascript_include_tag "speakers"
- title "#{@speech.title} - #{@speech.all_speakers_names}"

.l-page_width_page
  = render :partial => 'layouts/logo'
  .b-speaker
    %h1.b-speaker__theme-title.l-page_align_center
      = @speech.title
    .b-time.l-page_align_center
      - unless @speech.start_time.strftime("%H:%M") == "00:00"
        %span.b-time__icon
        %span.b-time__text.b-time__text_type_with-gap-out
          = @speech.time_range
      %span.b-time__text
        - if @speech.section
          = @speech.section.hall
        - else
          Зал уточняется
        -# = @speech.section.hall
    %span.b-speaker__theme-about.l-page_align_center
      = @speech.annotation.html_safe
    .b-speaker__report-info.clearfix
      .b-speaker__left.l-page_float_left.l-page_width_280
        - if @speech.has_multiple_speakers?
          - if @speech.ne_porka?
            = render :partial => 'speakers/multiple_speakers_info', :object => @speech.speakers, :as => :speakers
          - else
            = render :partial => 'speakers/startup_porka_info', :object => @speech.speakers, :as => :speakers
        - else
          = render :partial => 'speakers/single_speaker_info', :object => @speech.speaker, :as => :speaker
      .b-speaker__right.l-page_float_right.l-page_width_645
        - if @speech.ne_porka? && !@speech.speakers.first.description.blank?
          %h2.b-speaker__title
            = @speech.has_multiple_speakers? ? "О докладчиках" : "О докладчике"
          - @speech.speakers.each do |speaker|
            %span
              = speaker.description.html_safe
        - unless @speech.description.blank?
          %h2.b-speaker__title
            Описание
          %span.b-speaker__text
            = @speech.description.html_safe

        .b-speaker__invite.clearfix
          %span.b-speaker__invite-title.l-page_float_left
            Пригласите друзей
          .b-speaker__invite-likes.l-page_float_left.social-panel{:style => "margin-left:13px;"}
            = render :partial => 'shared/social_links_panel'
        - if @speech.has_presentation?
          %h2.b-speaker__title
            Презентация
          .b-speaker__presentation
            %iframe{:src => "http://www.slideshare.net/slideshow/embed_code/#{@speech.slideshare_embed_code_id}",
                    :width => "643", :height =>"476", :frameborder =>"0", :marginwidth => "0", :marginheight => "0",
                    :scrolling =>"no", :style => "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px",
                    :allowfullscreen => true}
        -# %h2.b-speaker__title
        -#   Видео доклада
        -# .b-speaker__video
        -#   = image_tag 'blocks/b-speaker/vimeo.png'
        %h2.b-speaker__title
          Комментарии
        .b-speaker__presentation
          = render :partial => 'shared/disqus'

  = render :partial => 'home/speakers_carousel'
