.devise-session
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f|
    = devise_error_messages!
    %legend= t 'Войти'
    = f.input :email
    = f.input :password, :label => t('users.password')

    .form-actions
      %button{:type => "submit", :class => "btn btn-primary"}
        = t('Войти')
      -# = render "devise/shared/links"

