%p
  Вы выбрали:
  %ul
    - @content[:events].each do |event|
      %li= event.name
%p= "Вам выслан счет на общую сумму #{@content[:amount]}."
%p= "Счет действителен до #{@content[:expired_at].to_time}."
