#show-payment
  -# if @invoice.invoice_events.all?{|e| e.paid?}
  %p 
    = "Привет, #{@user.first_name}!"
    %br
    Ура, мы получили твой платеж, и рады поздравить тебя с вступлением в ряды участников HappyDev. Большое тебе спасибо!
    %br
    Все детали платежа доступны <a href="http://happydev.ru/invoice">по этой ссылке</a>.


  %h3 Что нужно делать сейчас?

  %ol
    %li Следить за обновлениями <a href="http://twitter.com/_happydev">в твиттере</a>
    %li Периодически заглядывать на сайт <a href="http://happydev.ru">happydev.ru</a> 
    %li Приглашать друзей :)
  
  - if @user.student?
    %p{:style=> "font-size: 1.2em"}
      = "#{@user.first_name}, не забудь свой студенческий билет - он будет нужен для регистрации"

  -unless @invoice.user.city =~ /^Omsk|^Омск/
    %p Информация о проезде и проживании для иногородних появится на сайте в ближайшее время.

  %p Если ты хочешь приобрести обед на второй день конференции, необходимо при регистрации оплатить его по цене 350 руб.
  %p А вечером 29 сентября мы приглашаем тебя на afterparty в ресторан - предзаказ стоимостью 300 руб. также можно будет оплатить во время регистрации.

  %p По всем вопросам не стесняйся обращаться по контактам внизу. Будем рады помочь.

  -# else
    %h3 Ты частично оплатил свое участие на #HappyDev 2012!

    %ul
      - for ie in @invoice.invoice_events
        %li
          = ie.event.full_name
          &nbsp;
          - if ie.paid?
            (paid)

    %h3 Оплачена сумма: #{ @invoice.payments.map(&:amount).sum } из #{ @invoice.amount } рублей
    
    %p На самом деле этого не должно было случиться. Пожалуйста ответь нам на это письмо и расскажи что пошло не так.

- if @invoice.code
  %p{:style => 'color:#aaa'}
    Твой секретный код оплаты на всякий случай:
    %b= @invoice.code
  
%p 
  С уважением, организаторы HappyDev.<br/>
  Сайт: <a href="http://happydev.ru">happydev.ru</a><br/>
  Почта: <a href="mailto:org@happydev.ru">org@happydev.ru</a><br/>
  Телефоны: +7 (909) 535-00-73, +7 (908) 310-33-81
