- speakers.each do |speaker|
  - if speaker.photo_url.present?
    .b-speaker__photo
      = image_tag speaker.photo_url, :class => 'b-speaker__img', :alt => speaker.full_name
  %h2.b-speaker__title.b-speaker__title_type_normal.l-page_gap-top-out_10.l-page_gap-bottom-out_10
    - if speaker.personal_url_or_moikrug_url.present?
      %a.b-speaker__link{:href => speaker.personal_url_or_moikrug_url, :target => '_blank'}
        = speaker.full_name
    - else
      = speaker.full_name
  %p.b-speaker__text.b-speaker__text_type_gray.l-page_gap-top-out_5.l-page_gap-bottom-out_5
    %a.b-reporters__person-company-link{:href => speaker.company.url, :target => '_blank'}>= speaker.company.name
    ,
    = speaker.position
  %p.b-speaker__text.b-speaker__text_type_gray.l-page_gap-top-out_5.l-page_gap-bottom-out_5
    = speaker.city.name
  %br
  -# %ul.b-speaker__likes.clearfix
  -#   - if speaker.twitter.present?
  -#     %li.b-speaker__likes-item
  -#       %a.b-speaker__likes-link.b-speaker__likes-link_icon_twitter{:href => speaker.twitter, :target => '_blank'}
  -#   - if speaker.vk.present?
  -#     %li.b-speaker__likes-item
  -#       %a.b-speaker__likes-link.b-speaker__likes-link_icon_vk{:href => speaker.vk, :target => '_blank'}
  -#   - if speaker.facebook.present?
  -#     %li.b-speaker__likes-item
  -#       %a.b-speaker__likes-link.b-speaker__likes-link_icon_fb{:href => speaker.facebook, :target => '_blank'}
