!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js ie7 lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js ie8 lt-ie9">
/[if IE 9] <html class="no-js ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta(charset="utf-8")
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta{:property => "og:image", :content => "#{APP_CONFIG['domain']}/assets/happydev_logo.png"}
    %meta{:property => "og:title", :content => "Omsk IT-conference HappyDev"}
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "fb:app_id", :content => APP_CONFIG['facebook']['AppID']}
    %meta{:property => "fb:admins", :content => APP_CONFIG['facebook']['admins']}
    %meta{:property => "og:url", :content => APP_CONFIG['domain']}
    %meta{:property => "og:description", :content => "First big IT-conference in Omsk - Happydev"}
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "viewport"}/
    / Place favicon.ico and apple-touch-icon.png in the root directory
    %link{:href => "favicon.png", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "favicon.png", :rel => "icon", :type => "image/x-icon"}/
    -# %link{:href => "blocks/css/main.css", :rel => "stylesheet"}/
    
    %title= content_for?(:title) ? yield(:title) : "HappyDev"
    = csrf_meta_tags
    
    = stylesheet_link_tag "application", :media => "all"
    
    = include_gon

    %script{:type => 'text/javascript'}
      :plain
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34324708-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    -# %link(href="images/favicon.ico" rel="shortcut icon")

  %body.b-page.js-b-page{"data-spy" => "scroll", "data-target" => ".js-b-head"}
    .b-page__inner
      /[if lt IE 7]
        <p class="chromeframe">
        You are using an outdated browser.
        <a href="http://browsehappy.com/">Upgrade your browser today</a> or
        <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
        better experience this site.</p>
      = render :partial => 'layouts/header'
      .b-main{:role => "main"}
        = yield

      = render :partial => 'layouts/footer'
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
